n8n/dsb-daily-scrape-v3-pool.json
{
  "name": "DSB Daily Scrape Pipeline",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "cronExpression",
              "expression": "0 8-18 * * 1-5"
            }
          ]
        }
      },
      "id": "ad1625c7-92a7-416c-bab5-2edb49681d69",
      "name": "Schedule Trigger1",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.1,
      "position": [-576, -32]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.apify.com/v2/acts/MIlgC3KEFTXzIcnMt/runs?token=APIFY_TOKEN_PLACEHOLDER",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ crmUsername: 'anthonypattonll', crmPassword: 'password', poolReconcileDays: 5, scrapeDate: (() => { const central = new Date().toLocaleDateString('en-CA', { timeZone: 'America/Chicago' }); const [y,m,dd] = central.split('-').map(Number); const d = new Date(y, m-1, dd); const day = d.getDay(); if (day === 0) d.setDate(d.getDate() - 2); else if (day === 6) d.setDate(d.getDate() - 1); const py = d.getFullYear(); const pm = String(d.getMonth()+1).padStart(2,'0'); const pd = String(d.getDate()).padStart(2,'0'); return py+'-'+pm+'-'+pd; })() }) }}",
        "options": {
          "timeout": 10000
        }
      },
      "id": "916e4597-b1be-464d-a183-4fd5f609a945",
      "name": "Start Apify Run",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [-320, 112]
    },
    {
      "parameters": {
        "amount": 3,
        "unit": "minutes"
      },
      "id": "faf56904-9e62-463a-9804-0ca36112a690",
      "name": "Wait 3 Minutes",
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [-96, 112],
      "webhookId": "2c079141-6fd6-444f-ac21-b41cb3587aab"
    },
    {
      "parameters": {
        "url": "=https://api.apify.com/v2/actor-runs/{{ $node['Start Apify Run'].json.data.id }}?token=APIFY_TOKEN_PLACEHOLDER",
        "options": {}
      },
      "id": "c7e5fa68-f870-4b4f-accc-816dd5bc4252",
      "name": "Check Run Status",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [128, 112]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "run-succeeded",
              "leftValue": "={{ $json.data.status }}",
              "rightValue": "SUCCEEDED",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "2f852e0e-efd0-4fd0-aec4-c9f6dfe570ec",
      "name": "Run Succeeded?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [336, 112]
    },
    {
      "parameters": {
        "amount": 2,
        "unit": "minutes"
      },
      "id": "096baeb8-64ec-47f9-8de4-a01a3fbfdbfb",
      "name": "Wait & Retry",
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [336, 368],
      "webhookId": "21a261ff-88a8-4b96-9bc6-130d89244710"
    },
    {
      "parameters": {
        "jsCode": "const runStatus = $input.first().json;\nconst datasetId = runStatus?.data?.defaultDatasetId;\nconst runId = runStatus?.data?.id || 'unknown';\n\nif (!datasetId) {\n  return [{\n    json: {\n      error: true,\n      message: 'No defaultDatasetId in run status. runId=' + runId + ' status=' + (runStatus?.data?.status || 'unknown')\n    }\n  }];\n}\n\nconst token = 'APIFY_TOKEN_PLACEHOLDER';\n\nasync function fetchDataset(dsId, attempt) {\n  const url = `https://api.apify.com/v2/datasets/${dsId}/items?token=${token}`;\n  const raw = await this.helpers.httpRequest({\n    method: 'GET',\n    url,\n    encoding: 'utf-8',\n    returnFullResponse: false,\n    timeout: 60000,\n    headers: { 'Accept': 'application/json' },\n  });\n  let parsed = raw;\n  if (typeof raw === 'string') {\n    try { parsed = JSON.parse(raw); } catch (e) {\n      throw new Error(`JSON parse failed (attempt ${attempt}): ${raw.substring(0, 200)}`);\n    }\n  }\n  return parsed;\n}\n\nlet datasetItems;\nlet lastErr;\nfor (let attempt = 1; attempt <= 3; attempt++) {\n  try {\n    datasetItems = await fetchDataset.call(this, datasetId, attempt);\n    if (Array.isArray(datasetItems) && datasetItems.length > 0) break;\n    if (attempt < 3) {\n      await new Promise(r => setTimeout(r, 15000));\n    }\n  } catch (err) {\n    lastErr = err;\n    if (attempt < 3) {\n      await new Promise(r => setTimeout(r, 15000));\n    }\n  }\n}\n\nif (lastErr && (!datasetItems || !Array.isArray(datasetItems) || datasetItems.length === 0)) {\n  return [{\n    json: {\n      error: true,\n      message: `Fetch dataset failed after 3 attempts: ${lastErr.message}`,\n      datasetId, runId\n    }\n  }];\n}\n\nif (!datasetItems || !Array.isArray(datasetItems) || datasetItems.length === 0) {\n  return [{\n    json: {\n      error: true,\n      message: `Dataset ${datasetId} empty after 3 attempts (runId=${runId}). Type=${typeof datasetItems}`,\n      datasetId, runId\n    }\n  }];\n}\n\nconst central = new Date().toLocaleDateString('en-CA', { timeZone: 'America/Chicago' });\nconst [cy,cm,cd] = central.split('-').map(Number);\nconst today = new Date(cy, cm-1, cd);\nconst day = today.getDay();\nif (day === 0) today.setDate(today.getDate() - 2);\nelse if (day === 6) today.setDate(today.getDate() - 1);\nconst scrapeDate = today.getFullYear()+'-'+String(today.getMonth()+1).padStart(2,'0')+'-'+String(today.getDate()).padStart(2,'0');\n\n// Separate flat agent records from typed items\nconst agents = datasetItems.filter(item => !item._type);\nconst poolItem = datasetItems.find(item => item._type === 'pool_data');\nconst poolAgents = poolItem ? (poolItem.pool_agents || []) : [];\nconst poolInventory = poolItem ? (poolItem.pool_inventory || []) : [];\nconst perfItem = datasetItems.find(item => item._type === 'agent_performance');\nconst perfAgents = perfItem ? (perfItem.agents || []) : [];\nconst reconciliationItems = datasetItems.filter(item => item._type === 'pool_sales_reconciliation');\n\nreturn [{\n  json: {\n    scrape_date: scrapeDate,\n    agents: agents,\n    pool_agents: poolAgents,\n    pool_inventory: poolInventory,\n    perf_agents: perfAgents,\n    pool_reconciliation: reconciliationItems\n  }\n}];"
      },
      "id": "6e371585-1aba-40ae-88cc-8cd5b5b401f3",
      "name": "Fetch Dataset & Build Payload",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [576, 0]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "has-agents",
              "leftValue": "={{ $json.error }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "true"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "75e9e240-4d27-4c76-82d5-96df91ae0f12",
      "name": "Dataset OK?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [800, 0]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://bcibmmbxrjfiulofserv.supabase.co/functions/v1/ingest-daily-scrape",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ scrape_date: $json.scrape_date, agents: $json.agents }) }}",
        "options": {
          "timeout": 30000
        }
      },
      "id": "f808ee6d-7cde-4d80-8b5e-056cb73a0a95",
      "name": "POST to Supabase",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1072, -96]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "check-success",
              "leftValue": "={{ $json.success }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "true"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "500db3db-7759-4522-847e-4b8e5046765c",
      "name": "Ingestion OK?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [1296, -96]
    },
    {
      "parameters": {
        "jsCode": "const payload = $node['Fetch Dataset & Build Payload'].json;\nconst agents = payload.agents || [];\nconst scrapeDate = payload.scrape_date;\nconst apikey = 'eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImJjaWJtbWJ4cmpmaXVsb2ZzZXJ2Iiwicm9sZSI6ImFub24iLCJpYXQiOjE3NzQxMTMzNzAsImV4cCI6MjA4OTY4OTM3MH0.IIuxX_m34M4QOPORUr7v04AO3aLgdQnvMhD8rOjVnhQ';\nconst base = 'https://bcibmmbxrjfiulofserv.supabase.co/rest/v1';\nconst hdr = { 'apikey': apikey };\n\nconst roster = await this.helpers.httpRequest({ method:'GET', url: base+'/agents?select=name,site&is_active=eq.true', headers: hdr, json: true });\nconst siteMap = {};\nfor (const r of roster) siteMap[r.name] = r.site === 'AUS' ? 'ATX' : 'CLT';\n\nconst yd = new Date(scrapeDate);\nyd.setDate(yd.getDate() - 1);\nif (yd.getDay() === 0) yd.setDate(yd.getDate() - 2);\nif (yd.getDay() === 6) yd.setDate(yd.getDate() - 1);\nconst yesterdayStr = yd.toISOString().slice(0,10);\nlet yData = [];\ntry {\n  yData = await this.helpers.httpRequest({ method:'GET', url: base+'/daily_scrape_data?select=agent_name,ib_sales,ob_sales,custom_sales,ib_premium,ob_premium,custom_premium,ib_leads_delivered,ob_leads_delivered&scrape_date=eq.'+yesterdayStr, headers: hdr, json: true });\n} catch(e) {}\n\nconst ySites = { ATX: {s:0,p:0}, CLT: {s:0,p:0} };\nfor (const a of yData) {\n  const site = siteMap[a.agent_name] || 'CLT';\n  ySites[site].s += (a.ib_sales||0) + (a.ob_sales||0) + (a.custom_sales||0);\n  ySites[site].p += (a.ib_premium||0) + (a.ob_premium||0) + (a.custom_premium||0);\n}\n\nconst data = {};\nfor (const site of ['ATX','CLT']) data[site] = { T1:{s:0,p:0,n:0}, T2:{s:0,p:0,n:0}, T3:{s:0,p:0,n:0} };\nconst bonus = { ATX:{s:0,p:0}, CLT:{s:0,p:0} };\nconst leads = { ATX:{T1:0,T2:0,T3:0}, CLT:{T1:0,T2:0,T3:0} };\nconst ib = { ATX:{leads:0,sales:0}, CLT:{leads:0,sales:0} };\nconst ob = { ATX:{leads:0,sales:0}, CLT:{leads:0,sales:0} };\n\nfor (const a of agents) {\n  const site = siteMap[a.agent_name] || 'CLT';\n  const tier = a.tier || 'T2';\n  data[site][tier].s += (a.ib_sales||0) + (a.ob_sales||0);\n  data[site][tier].p += (a.ib_premium||0) + (a.ob_premium||0);\n  data[site][tier].n++;\n  bonus[site].s += (a.custom_sales||0);\n  bonus[site].p += (a.custom_premium||0);\n  leads[site][tier] += (a.ib_leads_delivered||0) + (a.ob_leads_delivered||0);\n  ib[site].leads += (a.ib_leads_delivered||0);\n  ib[site].sales += (a.ib_sales||0);\n  ob[site].leads += (a.ob_leads_delivered||0);\n  ob[site].sales += (a.ob_sales||0);\n}\n\nconst fmt = (n) => '$' + Math.round(n).toLocaleString();\nconst siteTotal = (site) => ({ sales: data[site].T1.s+data[site].T2.s+data[site].T3.s, premium: data[site].T1.p+data[site].T2.p+data[site].T3.p, agents: data[site].T1.n+data[site].T2.n+data[site].T3.n });\nconst atx = siteTotal('ATX');\nconst clt = siteTotal('CLT');\n\nconst arrow = (curr, prev) => {\n  if (prev === 0 && curr === 0) return '';\n  if (prev === 0) return ' :arrow_up:';\n  const pct = ((curr - prev) / prev * 100).toFixed(0);\n  if (curr > prev) return ' :chart_with_upwards_trend: +' + pct + '%';\n  if (curr < prev) return ' :chart_with_downwards_trend: ' + pct + '%';\n  return ' :arrow_right: 0%';\n};\n\nconst atxTotalS = atx.sales + bonus.ATX.s;\nconst atxTotalP = atx.premium + bonus.ATX.p;\nconst cltTotalS = clt.sales + bonus.CLT.s;\nconst cltTotalP = clt.premium + bonus.CLT.p;\n\nconst now = new Date();\nconst h = now.getUTCHours() - 6;\nconst ampm = h >= 12 ? 'PM' : 'AM';\nconst h12 = h > 12 ? h-12 : (h===0 ? 12 : h);\nconst mm = String(now.getUTCMinutes()).padStart(2,'0');\nconst time = h12+':'+mm+' '+ampm;\n\nconst cr = (site, tier) => { const l = leads[site][tier]; return l > 0 ? ((data[site][tier].s/l)*100).toFixed(1)+'%' : '--'; };\nconst ibCR = (site) => ib[site].leads > 0 ? ((ib[site].sales/ib[site].leads)*100).toFixed(1)+'%' : '--';\nconst obCR = (site) => ob[site].leads > 0 ? ((ob[site].sales/ob[site].leads)*100).toFixed(1)+'%' : '--';\nconst tierLine = (site, tier) => { const t = data[site][tier]; return t.n > 0 ? tier+': '+t.s+' sales / '+fmt(t.p)+' / '+cr(site,tier)+' CR' : tier+': --'; };\n\nconst totalS = atxTotalS + cltTotalS;\nconst totalP = atxTotalP + cltTotalP;\nconst totalIBLeads = ib.ATX.leads+ib.CLT.leads;\nconst totalOBLeads = ob.ATX.leads+ob.CLT.leads;\nconst totalIBSales = ib.ATX.sales+ib.CLT.sales;\nconst totalOBSales = ob.ATX.sales+ob.CLT.sales;\nconst totalIBCR = totalIBLeads > 0 ? ((totalIBSales/totalIBLeads)*100).toFixed(1)+'%' : '--';\nconst totalOBCR = totalOBLeads > 0 ? ((totalOBSales/totalOBLeads)*100).toFixed(1)+'%' : '--';\n\nconst yTotalS = ySites.ATX.s + ySites.CLT.s;\nconst yTotalP = ySites.ATX.p + ySites.CLT.p;\nconst hasYesterday = yData.length > 0;\n\nconst vsYesterday = hasYesterday ? '\\n_vs yesterday:_ Sales'+arrow(totalS,yTotalS)+'  |  Premium'+arrow(totalP,yTotalP) : '';\n\n// Pool summary for Slack\nconst poolAgents = payload.pool_agents || [];\nconst poolInventory = payload.pool_inventory || [];\nlet poolSection = '';\nif (poolAgents.length > 0) {\n  const poolCalls = poolAgents.reduce((s,a) => s + (a.calls_made||0), 0);\n  const poolLong = poolAgents.reduce((s,a) => s + (a.long_calls||0), 0);\n  const poolAssigned = poolAgents.reduce((s,a) => s + (a.self_assigned_leads||0), 0);\n  const poolSales = poolAgents.reduce((s,a) => s + (a.sales_made||0), 0);\n  const poolPrem = poolAgents.reduce((s,a) => s + (a.premium||0), 0);\n  const poolAnswered = poolAgents.reduce((s,a) => s + (a.answered_calls||0), 0);\n  const contactRate = poolCalls > 0 ? ((poolAnswered/poolCalls)*100).toFixed(0) : '--';\n  const totalPoolLeads = poolInventory.reduce((s,i) => s + (i.total_leads||0), 0);\n  poolSection = '\\n\\n:busts_in_silhouette: *Leads Pool:*  ' + poolAgents.length + ' agents  |  ' + poolCalls + ' calls  |  ' + contactRate + '% contact rate\\n' + poolLong + ' long calls  |  ' + poolAssigned + ' self-assigned  |  ' + poolSales + ' sales  |  ' + fmt(poolPrem) + (totalPoolLeads > 0 ? '\\n:package: Pool inventory: ' + totalPoolLeads + ' contactable leads' : '');\n}\n\nconst message = {\n  text: 'DSB Production Update - ' + scrapeDate,\n  blocks: [\n    { type: 'header', text: { type: 'plain_text', text: 'DSB Production Update \\u2014 ' + scrapeDate, emoji: true } },\n    { type: 'section', text: { type: 'mrkdwn', text: '*'+agents.length+' agents* reported at *'+time+' CST*' } },\n    { type: 'divider' },\n    { type: 'section', fields: [\n      { type: 'mrkdwn', text: '*ATX (Austin)  \\u2014  '+atxTotalS+' sales  |  '+fmt(atxTotalP)+'*'+(hasYesterday ? arrow(atxTotalS, ySites.ATX.s)+' vs prior' : '')+'\\nIB CR: *'+ibCR('ATX')+'*  |  OB CR: *'+obCR('ATX')+'*\\n'+tierLine('ATX','T1')+'\\n'+tierLine('ATX','T2')+'\\n'+tierLine('ATX','T3')+(bonus.ATX.s>0 ? '\\n:star: Bonus: '+bonus.ATX.s+' sales / '+fmt(bonus.ATX.p) : '') },\n      { type: 'mrkdwn', text: '*CLT (Charlotte)  \\u2014  '+cltTotalS+' sales  |  '+fmt(cltTotalP)+'*'+(hasYesterday ? arrow(cltTotalS, ySites.CLT.s)+' vs prior' : '')+'\\nIB CR: *'+ibCR('CLT')+'*  |  OB CR: *'+obCR('CLT')+'*\\n'+tierLine('CLT','T1')+'\\n'+tierLine('CLT','T2')+'\\n'+tierLine('CLT','T3')+(bonus.CLT.s>0 ? '\\n:star: Bonus: '+bonus.CLT.s+' sales / '+fmt(bonus.CLT.p) : '') }\n    ]},\n    { type: 'divider' },\n    { type: 'section', text: { type: 'mrkdwn', text: '*Combined:*  *'+totalS+'* sales  |  *'+fmt(totalP)+'* premium\\nIB CR: *'+totalIBCR+'*  |  OB CR: *'+totalOBCR+'*'+((bonus.ATX.s+bonus.CLT.s)>0 ? '\\n:star: *Bonus/Custom:*  '+(bonus.ATX.s+bonus.CLT.s)+' sales  |  '+fmt(bonus.ATX.p+bonus.CLT.p)+' premium' : '')+vsYesterday+poolSection } },\n    { type: 'context', elements: [{ type: 'mrkdwn', text: 'Report date: '+scrapeDate+'  |  Next update in ~2 hours' }] }\n  ]\n};\n\nreturn [{ json: message }];"
      },
      "id": "a9137508-48fe-4ee1-8d39-0bb5dad8dc71",
      "name": "Build Slack Summary",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1552, -300]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "SLACK_WEBHOOK_PLACEHOLDER",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify($json) }}",
        "options": {
          "timeout": 10000
        }
      },
      "id": "fa11241c-2956-43ba-903c-0d1c5d129ed9",
      "name": "Send to Slack",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1792, -300]
    },
    {
      "parameters": {
        "jsCode": "const payload = $node['Fetch Dataset & Build Payload'].json;\nconst poolAgents = payload.pool_agents || [];\nconst poolInventory = payload.pool_inventory || [];\n\nreturn [{\n  json: {\n    scrape_date: payload.scrape_date,\n    agents: poolAgents,\n    inventory: poolInventory\n  }\n}];"
      },
      "id": "b1a2c3d4-e5f6-7890-abcd-ef1234567890",
      "name": "Build Pool Payload",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1552, -50]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "has-pool-data",
              "leftValue": "={{ $json.agents.length }}",
              "rightValue": 0,
              "operator": {
                "type": "number",
                "operation": "gt"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "c2b3a4d5-f6e7-8901-bcde-f12345678901",
      "name": "Has Pool Data?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [1792, -50]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://bcibmmbxrjfiulofserv.supabase.co/functions/v1/ingest-leads-pool",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify($json) }}",
        "options": {
          "timeout": 30000
        }
      },
      "id": "d3c4b5a6-0718-9012-cdef-012345678902",
      "name": "POST Pool to Supabase",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [2032, -100]
    },
    {
      "parameters": {
        "jsCode": "const payload = $node['Fetch Dataset & Build Payload'].json;\nconst perfAgents = payload.perf_agents || [];\n\nreturn [{\n  json: {\n    scrape_date: payload.scrape_date,\n    agents: perfAgents\n  }\n}];"
      },
      "id": "e1f2a3b4-c5d6-7890-abcd-ef9876543210",
      "name": "Build Perf Payload",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1552, 200]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "loose"
          },
          "conditions": [
            {
              "id": "has-perf-data",
              "leftValue": "={{ $json.agents.length }}",
              "rightValue": 0,
              "operator": {
                "type": "number",
                "operation": "gt"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "f2e3d4c5-b6a7-8901-dcba-fe0987654321",
      "name": "Has Perf Data?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [1792, 200]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://bcibmmbxrjfiulofserv.supabase.co/functions/v1/ingest-agent-performance",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify($json) }}",
        "options": {
          "timeout": 30000
        }
      },
      "id": "a3b4c5d6-e7f8-9012-abcd-0123456789ab",
      "name": "POST Perf to Supabase",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [2032, 150]
    },
    {
      "parameters": {
        "jsCode": "const payload = $node['Fetch Dataset & Build Payload'].json;\nconst items = payload.pool_reconciliation || [];\n\nif (items.length === 0) {\n  return [{ json: { _empty: true, count: 0 } }];\n}\n\nreturn items.map(item => ({\n  json: {\n    scrape_date: item.scrape_date,\n    agents: item.pool_agents || [],\n    sales_only: true\n  }\n}));"
      },
      "id": "r1a2b3c4-d5e6-7890-abcd-reconcile0001",
      "name": "Build Reconciliation Payloads",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1552, 450]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "loose"
          },
          "conditions": [
            {
              "id": "has-reconciliation",
              "leftValue": "={{ $json._empty }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "notTrue"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "r2b3c4d5-e6f7-8901-bcde-reconcile0002",
      "name": "Has Reconciliation?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [1792, 450]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://bcibmmbxrjfiulofserv.supabase.co/functions/v1/ingest-leads-pool",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify($json) }}",
        "options": {
          "timeout": 30000
        }
      },
      "id": "r3c4d5e6-f7a8-9012-cdef-reconcile0003",
      "name": "POST Reconciliation to Supabase",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [2032, 400]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "status",
              "name": "status",
              "value": "={{ 'DSB Scrape FAILED: ' + ($json.message || JSON.stringify($json.errors || $json)) }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "498f05e8-ce7a-43f4-94aa-50ba8ad757eb",
      "name": "Log Error",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [1072, 144]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "SLACK_WEBHOOK_PLACEHOLDER",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ text: ':rotating_light: DSB Scrape Pipeline Error:\\n' + $json.status }) }}",
        "options": {
          "timeout": 10000
        }
      },
      "id": "6ea027fd-5f29-45f3-b2ad-8310e5aee9fb",
      "name": "Alert Slack Error",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1312, 144]
    }
  ],
  "connections": {
    "Schedule Trigger1": {
      "main": [
        [
          {
            "node": "Start Apify Run",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Start Apify Run": {
      "main": [
        [
          {
            "node": "Wait 3 Minutes",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait 3 Minutes": {
      "main": [
        [
          {
            "node": "Check Run Status",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check Run Status": {
      "main": [
        [
          {
            "node": "Run Succeeded?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Run Succeeded?": {
      "main": [
        [
          {
            "node": "Fetch Dataset & Build Payload",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Wait & Retry",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait & Retry": {
      "main": [
        [
          {
            "node": "Check Run Status",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fetch Dataset & Build Payload": {
      "main": [
        [
          {
            "node": "Dataset OK?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Dataset OK?": {
      "main": [
        [
          {
            "node": "Log Error",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "POST to Supabase",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "POST to Supabase": {
      "main": [
        [
          {
            "node": "Ingestion OK?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Ingestion OK?": {
      "main": [
        [
          {
            "node": "Build Slack Summary",
            "type": "main",
            "index": 0
          },
          {
            "node": "Build Pool Payload",
            "type": "main",
            "index": 0
          },
          {
            "node": "Build Perf Payload",
            "type": "main",
            "index": 0
          },
          {
            "node": "Build Reconciliation Payloads",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Log Error",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build Reconciliation Payloads": {
      "main": [
        [
          {
            "node": "Has Reconciliation?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Has Reconciliation?": {
      "main": [
        [
          {
            "node": "POST Reconciliation to Supabase",
            "type": "main",
            "index": 0
          }
        ],
        []
      ]
    },
    "Build Slack Summary": {
      "main": [
        [
          {
            "node": "Send to Slack",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build Pool Payload": {
      "main": [
        [
          {
            "node": "Has Pool Data?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Has Pool Data?": {
      "main": [
        [
          {
            "node": "POST Pool to Supabase",
            "type": "main",
            "index": 0
          }
        ],
        []
      ]
    },
    "Build Perf Payload": {
      "main": [
        [
          {
            "node": "Has Perf Data?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Has Perf Data?": {
      "main": [
        [
          {
            "node": "POST Perf to Supabase",
            "type": "main",
            "index": 0
          }
        ],
        []
      ]
    },
    "Log Error": {
      "main": [
        [
          {
            "node": "Alert Slack Error",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "timezone": "America/Chicago",
    "callerPolicy": "workflowsFromSameOwner",
    "availableInMCP": true,
    "timeSavedMode": "fixed"
  },
  "pinData": {},
  "meta": {
    "instanceId": "89ecaea7644e2fc8bb00924fa95bf8f2f321b4752bc18483de9de5a764fee65c"
  }
}
