n8n/dsb-pipeline-compliance.json
{
  "name": "DSB Pipeline Compliance Audit",
  "nodes": [
    {
      "parameters": { "rule": { "interval": [{ "field": "cronExpression", "expression": "0 8 * * 1-5" }] } },
      "id": "pc-trig-morning",
      "name": "Trigger 8am CST (Morning)",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.1,
      "position": [-1600, -200]
    },
    {
      "parameters": { "rule": { "interval": [{ "field": "cronExpression", "expression": "0 13 * * 1-5" }] } },
      "id": "pc-trig-midday",
      "name": "Trigger 1pm CST (Midday)",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.1,
      "position": [-1600, 0]
    },
    {
      "parameters": { "rule": { "interval": [{ "field": "cronExpression", "expression": "0 19 * * 1-5" }] } },
      "id": "pc-trig-eod",
      "name": "Trigger 7pm CST (EOD)",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.1,
      "position": [-1600, 200]
    },
    {
      "parameters": {},
      "id": "pc-trig-manual",
      "name": "Manual Trigger",
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [-1600, 400]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            { "id": "a1", "name": "snapshot_label", "value": "morning", "type": "string" },
            { "id": "a2", "name": "label_pretty", "value": "Morning", "type": "string" },
            { "id": "a3", "name": "is_eod", "value": false, "type": "boolean" }
          ]
        },
        "options": {}
      },
      "id": "pc-set-morning",
      "name": "Set: Morning Context",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [-1360, -200]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            { "id": "b1", "name": "snapshot_label", "value": "midday", "type": "string" },
            { "id": "b2", "name": "label_pretty", "value": "Midday", "type": "string" },
            { "id": "b3", "name": "is_eod", "value": false, "type": "boolean" }
          ]
        },
        "options": {}
      },
      "id": "pc-set-midday",
      "name": "Set: Midday Context",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [-1360, 0]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            { "id": "c1", "name": "snapshot_label", "value": "eod", "type": "string" },
            { "id": "c2", "name": "label_pretty", "value": "EOD", "type": "string" },
            { "id": "c3", "name": "is_eod", "value": true, "type": "boolean" }
          ]
        },
        "options": {}
      },
      "id": "pc-set-eod",
      "name": "Set: EOD Context",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [-1360, 200]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            { "id": "m1", "name": "snapshot_label", "value": "morning", "type": "string" },
            { "id": "m2", "name": "label_pretty", "value": "Manual Run", "type": "string" },
            { "id": "m3", "name": "is_eod", "value": false, "type": "boolean" }
          ]
        },
        "options": {}
      },
      "id": "pc-set-manual",
      "name": "Set: Manual Context",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [-1360, 400]
    },
    {
      "parameters": {
        "jsCode": "const ctx = $input.first().json;\nconst apikey = 'YOUR_SUPABASE_ANON_KEY';\nconst base = 'https://YOUR_SUPABASE_REF.supabase.co/rest/v1';\nconst hdr = { apikey };\n\nconst [roster, aliases] = await Promise.all([\n  this.helpers.httpRequest({ method: 'GET', url: base + '/agents?select=name,tier,site,crm_agent_id,email&is_active=eq.true', headers: hdr, json: true }),\n  this.helpers.httpRequest({ method: 'GET', url: base + '/agent_name_aliases?select=canonical_name,crm_name', headers: hdr, json: true })\n]);\n\nif (!roster || roster.length === 0) {\n  return [{ json: { error: true, message: 'No active agents found in Supabase', ...ctx } }];\n}\n\nconst nameAliases = {};\nfor (const a of (aliases || [])) nameAliases[a.canonical_name] = a.crm_name;\n\nconst targetAgents = roster.map((a) => a.name);\nconst agentTiers = {};\nconst agentSites = {};\nconst agentCrmIds = {};\nconst agentEmails = {};\nfor (const a of roster) {\n  agentTiers[a.name] = a.tier;\n  agentSites[a.name] = a.site || 'RMT';\n  if (a.crm_agent_id) agentCrmIds[a.name] = a.crm_agent_id;\n  if (a.email) agentEmails[a.name] = a.email;\n}\n\nreturn [{\n  json: {\n    ...ctx,\n    targetAgents,\n    agentTiers,\n    agentSites,\n    agentCrmIds,\n    agentEmails,\n    nameAliases,\n    agentCount: roster.length,\n    apifyBody: JSON.stringify({\n      crmUsername: 'YOUR_CRM_USERNAME',\n      crmPassword: 'YOUR_CRM_PASSWORD',\n      targetAgents,\n      agentTiers,\n      agentCrmIds,\n      nameAliases,\n      requestDelay: 1500\n    })\n  }\n}];"
      },
      "id": "pc-fetch-roster",
      "name": "Fetch Agent Roster",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [-1120, 100]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.apify.com/v2/acts/jt1Pq4ufNfwsD6Nfd/runs?token=YOUR_APIFY_API_TOKEN",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ $json.apifyBody }}",
        "options": { "timeout": 15000 }
      },
      "id": "pc-start-apify",
      "name": "Start Pipeline Scraper",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [-880, 100]
    },
    {
      "parameters": { "amount": 5, "unit": "minutes" },
      "id": "pc-wait-1",
      "name": "Wait 5 Minutes",
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [-640, 100],
      "webhookId": "pc-wait-1-hook"
    },
    {
      "parameters": {
        "url": "=https://api.apify.com/v2/actor-runs/{{ $node['Start Pipeline Scraper'].json.data.id }}?token=YOUR_APIFY_API_TOKEN",
        "options": { "timeout": 10000 }
      },
      "id": "pc-poll",
      "name": "Poll Run Status",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [-400, 100]
    },
    {
      "parameters": {
        "conditions": {
          "options": { "caseSensitive": true, "typeValidation": "strict" },
          "conditions": [
            { "id": "succ", "leftValue": "={{ $json.data.status }}", "rightValue": "SUCCEEDED", "operator": { "type": "string", "operation": "equals" } }
          ],
          "combinator": "and"
        }
      },
      "id": "pc-if-succeeded",
      "name": "Run Succeeded?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [-160, 100]
    },
    {
      "parameters": { "amount": 3, "unit": "minutes" },
      "id": "pc-wait-retry",
      "name": "Wait & Retry",
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [-160, 360],
      "webhookId": "pc-wait-retry-hook"
    },
    {
      "parameters": {
        "jsCode": "const runStatus = $input.first().json;\nconst datasetId = runStatus?.data?.defaultDatasetId;\nconst runId = runStatus?.data?.id || 'unknown';\nif (!datasetId) {\n  return [{ json: { error: true, message: 'No defaultDatasetId. runId=' + runId } }];\n}\nconst token = 'YOUR_APIFY_API_TOKEN';\nasync function fetchDataset(dsId, attempt) {\n  const url = `https://api.apify.com/v2/datasets/${dsId}/items?token=${token}`;\n  const raw = await this.helpers.httpRequest({ method: 'GET', url, encoding: 'utf-8', returnFullResponse: false, timeout: 60000, headers: { Accept: 'application/json' } });\n  let parsed = raw;\n  if (typeof raw === 'string') {\n    try { parsed = JSON.parse(raw); } catch (e) { throw new Error('JSON parse failed (attempt ' + attempt + '): ' + raw.substring(0, 200)); }\n  }\n  return parsed;\n}\nlet items, lastErr;\nfor (let attempt = 1; attempt <= 3; attempt++) {\n  try { items = await fetchDataset.call(this, datasetId, attempt); if (Array.isArray(items) && items.length > 0) break; if (attempt < 3) await new Promise((r) => setTimeout(r, 10000)); }\n  catch (err) { lastErr = err; if (attempt < 3) await new Promise((r) => setTimeout(r, 10000)); }\n}\nif (!items || !Array.isArray(items) || items.length === 0) {\n  if (items && typeof items === 'object' && !Array.isArray(items)) items = [items];\n  else return [{ json: { error: true, message: 'Dataset empty after 3 attempts. ' + (lastErr?.message || ''), datasetId, runId } }];\n}\nconst pipelineItem = items.find((i) => i._type === 'pipeline_compliance');\nif (!pipelineItem) return [{ json: { error: true, message: 'No pipeline_compliance item in dataset', datasetId, runId } }];\nlet sd = pipelineItem.scrape_date;\nif (sd) {\n  const [sy, sm, sdd] = sd.split('-').map(Number);\n  const sdt = new Date(sy, sm - 1, sdd);\n  const dow = sdt.getDay();\n  if (dow === 0) sdt.setDate(sdt.getDate() - 2);\n  else if (dow === 6) sdt.setDate(sdt.getDate() - 1);\n  sd = sdt.toISOString().slice(0, 10);\n}\nconst ctx = $node['Fetch Agent Roster'].json;\nreturn [{ json: {\n  scrape_date: sd,\n  agents: pipelineItem.agents || [],\n  summary: pipelineItem.summary || {},\n  agentSites: ctx.agentSites || {},\n  agentEmails: ctx.agentEmails || {},\n  snapshot_label: ctx.snapshot_label,\n  label_pretty: ctx.label_pretty,\n  is_eod: ctx.is_eod\n}}];"
      },
      "id": "pc-fetch-dataset",
      "name": "Fetch Dataset & Parse",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [80, 0]
    },
    {
      "parameters": {
        "conditions": {
          "options": { "typeValidation": "strict" },
          "conditions": [
            { "id": "data-ok", "leftValue": "={{ $json.error }}", "rightValue": true, "operator": { "type": "boolean", "operation": "false" } }
          ],
          "combinator": "and"
        }
      },
      "id": "pc-if-data-ok",
      "name": "Data OK?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [320, 0]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://YOUR_SUPABASE_REF.supabase.co/functions/v1/ingest-pipeline-compliance",
        "sendHeaders": true,
        "headerParameters": { "parameters": [
          { "name": "Content-Type", "value": "application/json" },
          { "name": "Authorization", "value": "Bearer YOUR_SUPABASE_ANON_KEY" }
        ]},
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ scrape_date: $json.scrape_date, agents: $json.agents, snapshot_label: $json.snapshot_label }) }}",
        "options": { "timeout": 30000 }
      },
      "id": "pc-ingest",
      "name": "Ingest (daily + intraday)",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [560, -100]
    },
    {
      "parameters": {
        "rules": {
          "values": [
            { "outputKey": "morning", "conditions": { "options": { "caseSensitive": true, "typeValidation": "strict" }, "conditions": [{ "id": "rm", "leftValue": "={{ $node['Fetch Dataset & Parse'].json.snapshot_label }}", "rightValue": "morning", "operator": { "type": "string", "operation": "equals" } }], "combinator": "and" } },
            { "outputKey": "midday", "conditions": { "options": { "caseSensitive": true, "typeValidation": "strict" }, "conditions": [{ "id": "rd", "leftValue": "={{ $node['Fetch Dataset & Parse'].json.snapshot_label }}", "rightValue": "midday", "operator": { "type": "string", "operation": "equals" } }], "combinator": "and" } },
            { "outputKey": "eod", "conditions": { "options": { "caseSensitive": true, "typeValidation": "strict" }, "conditions": [{ "id": "re", "leftValue": "={{ $node['Fetch Dataset & Parse'].json.snapshot_label }}", "rightValue": "eod", "operator": { "type": "string", "operation": "equals" } }], "combinator": "and" } }
          ]
        },
        "options": { "fallbackOutput": "extra" }
      },
      "id": "pc-switch",
      "name": "Switch on Snapshot",
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.2,
      "position": [800, -100]
    },
    {
      "parameters": {
        "jsCode": "// MORNING — state of pipeline (Past Dues + Untouched = Actionable)\nconst payload = $node['Fetch Dataset & Parse'].json;\nconst agents = payload.agents || [];\nconst date = payload.scrape_date;\nconst fmt = (n) => '$' + Math.round(n).toLocaleString();\n\n// DB columns total_stale / revenue_at_risk now physically hold:\n//   total_stale     = past_due + new_leads (Actionable Leads)\n//   revenue_at_risk = Actionable × avg premium (Premium @ Stake)\nconst totalPastDue   = agents.reduce((s, a) => s + (a.past_due_follow_ups || 0), 0);\nconst totalUntouched = agents.reduce((s, a) => s + (a.new_leads || 0), 0);\nconst totalQueue     = agents.reduce((s, a) => s + (a.call_queue_count || 0), 0);\nconst totalFU        = agents.reduce((s, a) => s + (a.todays_follow_ups || 0), 0);\nconst totalActionable= agents.reduce((s, a) => s + (a.total_stale || 0), 0);\nconst totalStake     = agents.reduce((s, a) => s + (a.revenue_at_risk || 0), 0);\nconst overCap = agents.filter((a) => (a.total_stale || 0) > 30);\nconst critical = agents.filter((a) => (a.past_due_follow_ups || 0) > 3 || (a.total_stale || 0) > 40);\nconst clean = agents.filter((a) => (a.past_due_follow_ups || 0) === 0 && (a.total_stale || 0) <= 20);\n\nconst sortedCrit = [...critical].sort((a, b) => (b.past_due_follow_ups || 0) - (a.past_due_follow_ups || 0) || (b.total_stale || 0) - (a.total_stale || 0));\n\nfunction line(a) {\n  const pd = a.past_due_follow_ups || 0;\n  const ut = a.new_leads || 0;\n  const act = a.total_stale || 0;\n  const fu = a.todays_follow_ups || 0;\n  const stake = a.revenue_at_risk || 0;\n  return `*${a.agent_name}* — ${act} actionable (${pd} past due + ${ut} untouched) · ${fu} F/U today · ${fmt(stake)} @ stake`;\n}\n\nconst blocks = [\n  { type: 'header', text: { type: 'plain_text', text: ':sunrise: Morning Pipeline State — ' + date, emoji: true } },\n  { type: 'section', fields: [\n    { type: 'mrkdwn', text: '*Agents*\\n' + agents.length },\n    { type: 'mrkdwn', text: '*Past Due (org)*\\n' + totalPastDue },\n    { type: 'mrkdwn', text: '*Untouched*\\n' + totalUntouched },\n    { type: 'mrkdwn', text: '*Today F/U*\\n' + totalFU }\n  ]},\n  { type: 'section', text: { type: 'mrkdwn', text: `*${critical.length}* critical · *${overCap.length}* over capacity (>30 actionable) · *${clean.length}* clean · *${totalActionable}* total actionable · ${fmt(totalStake)} premium @ stake` } },\n  { type: 'divider' }\n];\n\nif (sortedCrit.length > 0) {\n  blocks.push({ type: 'section', text: { type: 'mrkdwn', text: '*:rotating_light: Critical (work first)*' } });\n  for (let i = 0; i < Math.min(sortedCrit.length, 10); i++) blocks.push({ type: 'section', text: { type: 'mrkdwn', text: line(sortedCrit[i]) } });\n  if (sortedCrit.length > 10) blocks.push({ type: 'context', elements: [{ type: 'mrkdwn', text: '…and ' + (sortedCrit.length - 10) + ' more critical.' }] });\n  blocks.push({ type: 'divider' });\n}\n\nconst overCapClean = overCap.filter((a) => !critical.includes(a));\nif (overCapClean.length > 0) {\n  blocks.push({ type: 'section', text: { type: 'mrkdwn', text: '*:warning: Over capacity — clear backlog before new activity*\\n' + overCapClean.slice(0, 12).map((a) => `${a.agent_name} (${a.total_stale} actionable)`).join(', ') } });\n  blocks.push({ type: 'divider' });\n}\n\nblocks.push({ type: 'context', elements: [{ type: 'mrkdwn', text: 'Rule: clear past dues before any new inbound. Midday recap at 1pm CST.' }] });\n\nreturn [{ json: { text: 'Morning pipeline — ' + date + ': ' + critical.length + ' critical, ' + clean.length + ' clean', blocks } }];"
      },
      "id": "pc-build-morning",
      "name": "Build Morning Slack",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1080, -300]
    },
    {
      "parameters": {
        "jsCode": "// MIDDAY — deltas vs morning snapshot for the same date\nconst payload = $node['Fetch Dataset & Parse'].json;\nconst agents = payload.agents || [];\nconst date = payload.scrape_date;\nconst apikey = 'YOUR_SUPABASE_ANON_KEY';\nconst base = 'https://YOUR_SUPABASE_REF.supabase.co/rest/v1';\n\nlet morning = [];\ntry {\n  morning = await this.helpers.httpRequest({\n    method: 'GET',\n    url: base + '/pipeline_compliance_intraday?select=agent_name,past_due_follow_ups,new_leads,call_queue_count,total_stale,revenue_at_risk&scrape_date=eq.' + date + '&snapshot_label=eq.morning',\n    headers: { apikey },\n    json: true\n  }) || [];\n} catch (e) { morning = []; }\nconst morningMap = new Map(morning.map((m) => [m.agent_name, m]));\n\nconst fmt = (n) => '$' + Math.round(n).toLocaleString();\nconst signed = (n) => (n > 0 ? '+' : '') + n;\n\n// total_stale column physically stores Actionable Leads (past_due + new_leads).\n// revenue_at_risk column physically stores Premium @ Stake.\nconst withDeltas = agents.map((a) => {\n  const m = morningMap.get(a.agent_name) || {};\n  return {\n    ...a,\n    delta_past_due:   (a.past_due_follow_ups || 0) - (m.past_due_follow_ups || 0),\n    delta_actionable: (a.total_stale || 0)         - (m.total_stale || 0),\n    delta_queue:      (a.call_queue_count || 0)    - (m.call_queue_count || 0),\n    delta_stake:      (a.revenue_at_risk || 0)     - (m.revenue_at_risk || 0)\n  };\n});\n\nconst movers = withDeltas.filter((a) => a.delta_past_due < 0 || a.delta_actionable < -2).sort((a, b) => (a.delta_past_due + a.delta_actionable) - (b.delta_past_due + b.delta_actionable));\nconst stuck = withDeltas.filter((a) => a.delta_past_due > 0 || a.delta_actionable > 2).sort((a, b) => (b.delta_past_due + b.delta_actionable) - (a.delta_past_due + a.delta_actionable));\nconst nowCritical = withDeltas.filter((a) => (a.past_due_follow_ups || 0) > 3 || (a.total_stale || 0) > 40);\n\nconst totalStake = agents.reduce((s, a) => s + (a.revenue_at_risk || 0), 0);\nconst totalStakeMorning = (morning || []).reduce((s, m) => s + (m.revenue_at_risk || 0), 0);\nconst stakeDelta = totalStake - totalStakeMorning;\n\nfunction movLine(a) {\n  return `*${a.agent_name}* — past due ${signed(a.delta_past_due)}, actionable ${signed(a.delta_actionable)}, premium @ stake ${signed(Math.round(a.delta_stake))}`;\n}\n\nconst blocks = [\n  { type: 'header', text: { type: 'plain_text', text: ':bar_chart: Midday Movement — ' + date, emoji: true } },\n  { type: 'section', fields: [\n    { type: 'mrkdwn', text: '*Org Premium @ Stake*\\n' + fmt(totalStake) },\n    { type: 'mrkdwn', text: '*Δ vs AM*\\n' + (stakeDelta >= 0 ? '+' : '') + fmt(stakeDelta) },\n    { type: 'mrkdwn', text: '*Movers*\\n' + movers.length },\n    { type: 'mrkdwn', text: '*Stuck/worse*\\n' + stuck.length }\n  ]},\n  { type: 'divider' }\n];\n\nif (movers.length > 0) {\n  blocks.push({ type: 'section', text: { type: 'mrkdwn', text: '*:white_check_mark: Top movers (clearing the deck)*' } });\n  for (const a of movers.slice(0, 8)) blocks.push({ type: 'section', text: { type: 'mrkdwn', text: movLine(a) } });\n  blocks.push({ type: 'divider' });\n}\nif (stuck.length > 0) {\n  blocks.push({ type: 'section', text: { type: 'mrkdwn', text: '*:warning: Going the wrong way*' } });\n  for (const a of stuck.slice(0, 8)) blocks.push({ type: 'section', text: { type: 'mrkdwn', text: movLine(a) } });\n  blocks.push({ type: 'divider' });\n}\nif (nowCritical.length > 0) {\n  blocks.push({ type: 'section', text: { type: 'mrkdwn', text: '*:rotating_light: Critical right now*\\n' + nowCritical.slice(0, 12).map((a) => `${a.agent_name} (pd ${a.past_due_follow_ups || 0} / actionable ${a.total_stale || 0})`).join(', ') } });\n}\nblocks.push({ type: 'context', elements: [{ type: 'mrkdwn', text: 'Midday call to action: managers ping their stuck agents now. After-action report at 7pm CST.' }] });\n\nreturn [{ json: { text: 'Midday movement — ' + date + ': ' + movers.length + ' movers, ' + stuck.length + ' stuck', blocks } }];"
      },
      "id": "pc-build-midday",
      "name": "Build Midday Slack",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1080, -100]
    },
    {
      "parameters": {
        "jsCode": "// EOD — after-action: WTD CR + sales summary + per-agent email payloads\nconst payload = $node['Fetch Dataset & Parse'].json;\nconst agents = payload.agents || [];\nconst date = payload.scrape_date;\nconst agentEmails = payload.agentEmails || {};\nconst apikey = 'YOUR_SUPABASE_ANON_KEY';\nconst base = 'https://YOUR_SUPABASE_REF.supabase.co/rest/v1';\n\n// Determine WTD window (Mon..date inclusive, in agent CST)\nconst [yy, mm, dd] = date.split('-').map(Number);\nconst d = new Date(Date.UTC(yy, mm - 1, dd));\nconst dow = d.getUTCDay(); // 0=Sun .. 6=Sat\nconst daysSinceMon = (dow + 6) % 7; // 0 if Mon\nconst weekStart = new Date(d); weekStart.setUTCDate(d.getUTCDate() - daysSinceMon);\nconst weekStartIso = weekStart.toISOString().slice(0, 10);\n\n// Pull WTD daily_scrape_data\nlet wtd = [];\ntry {\n  wtd = await this.helpers.httpRequest({\n    method: 'GET',\n    url: base + '/daily_scrape_data?select=agent_name,scrape_date,ib_leads_delivered,ob_leads_delivered,ib_sales,ob_sales,custom_sales,ib_premium,ob_premium,custom_premium&scrape_date=gte.' + weekStartIso + '&scrape_date=lte.' + date,\n    headers: { apikey },\n    json: true\n  }) || [];\n} catch (e) { wtd = []; }\n// Also pull WTD pool data for self-assigned and pool sales\nlet wtdPool = [];\ntry {\n  wtdPool = await this.helpers.httpRequest({\n    method: 'GET',\n    url: base + '/leads_pool_daily_data?select=agent_name,scrape_date,sales_made,premium,self_assigned_leads&scrape_date=gte.' + weekStartIso + '&scrape_date=lte.' + date,\n    headers: { apikey },\n    json: true\n  }) || [];\n} catch (e) { wtdPool = []; }\n\nconst byAgent = {};\nfunction get(name) { if (!byAgent[name]) byAgent[name] = { leads: 0, sales: 0, premium: 0, pool_sales: 0, pool_premium: 0, pool_self: 0 }; return byAgent[name]; }\nfor (const r of wtd) {\n  const a = get(r.agent_name);\n  a.leads   += (r.ib_leads_delivered || 0) + (r.ob_leads_delivered || 0);\n  a.sales   += (r.ib_sales || 0) + (r.ob_sales || 0) + (r.custom_sales || 0);\n  a.premium += (r.ib_premium || 0) + (r.ob_premium || 0) + (r.custom_premium || 0);\n}\nfor (const r of wtdPool) {\n  const a = get(r.agent_name);\n  a.pool_sales   += (r.sales_made || 0);\n  a.pool_premium += (r.premium || 0);\n  a.pool_self    += (r.self_assigned_leads || 0);\n}\n\nconst fmt = (n) => '$' + Math.round(n).toLocaleString();\nconst pct = (n, d) => (d > 0 ? ((n / d) * 100).toFixed(1) + '%' : 'N/A');\n\n// Org totals\nconst orgLeads   = Object.values(byAgent).reduce((s, a) => s + a.leads + a.pool_self, 0);\nconst orgSales   = Object.values(byAgent).reduce((s, a) => s + a.sales + a.pool_sales, 0);\nconst orgPremium = Object.values(byAgent).reduce((s, a) => s + a.premium + a.pool_premium, 0);\n\n// Agent rollup with end-of-day pipeline state.\n// total_stale column = Actionable Leads (Past Due + Untouched).\n// revenue_at_risk column = Premium @ Stake (Actionable × avg premium).\nconst rollup = agents.map((p) => {\n  const w = byAgent[p.agent_name] || { leads: 0, sales: 0, premium: 0, pool_sales: 0, pool_premium: 0, pool_self: 0 };\n  const totalLeads = w.leads + w.pool_self;\n  const totalSales = w.sales + w.pool_sales;\n  const overall    = totalLeads > 0 ? (totalSales / totalLeads) * 100 : 0;\n  return {\n    name: p.agent_name,\n    email: agentEmails[p.agent_name] || null,\n    pd_eod:         p.past_due_follow_ups || 0,\n    untouched_eod:  p.new_leads || 0,\n    actionable_eod: p.total_stale || 0,\n    fu_eod:         p.todays_follow_ups || 0,\n    queue_eod:      p.call_queue_count || 0,\n    stake_eod:      p.revenue_at_risk || 0,\n    wtd_leads: totalLeads,\n    wtd_sales: totalSales,\n    wtd_premium: w.premium + w.pool_premium,\n    wtd_cr_pct: overall\n  };\n});\nconst sortedByPremium = [...rollup].sort((a, b) => b.wtd_premium - a.wtd_premium);\nconst topProducers = sortedByPremium.slice(0, 5);\nconst pipeOffenders = [...rollup].sort((a, b) => b.pd_eod - a.pd_eod || b.actionable_eod - a.actionable_eod).filter((a) => a.pd_eod > 3 || a.actionable_eod > 40).slice(0, 8);\n\nconst slackBlocks = [\n  { type: 'header', text: { type: 'plain_text', text: ':checkered_flag: EOD After-Action — ' + date, emoji: true } },\n  { type: 'section', text: { type: 'mrkdwn', text: '*WTD window:* ' + weekStartIso + ' → ' + date + '   ·   ' + agents.length + ' agents' } },\n  { type: 'section', fields: [\n    { type: 'mrkdwn', text: '*WTD Sales*\\n' + orgSales },\n    { type: 'mrkdwn', text: '*WTD Premium*\\n' + fmt(orgPremium) },\n    { type: 'mrkdwn', text: '*WTD Overall CR*\\n' + pct(orgSales, orgLeads) },\n    { type: 'mrkdwn', text: '*WTD Leads*\\n' + orgLeads }\n  ]},\n  { type: 'divider' }\n];\nslackBlocks.push({ type: 'section', text: { type: 'mrkdwn', text: '*:trophy: Top producers (WTD premium)*' } });\nfor (const a of topProducers) slackBlocks.push({ type: 'section', text: { type: 'mrkdwn', text: `*${a.name}* — ${a.wtd_sales} sales · ${fmt(a.wtd_premium)} · ${a.wtd_cr_pct.toFixed(1)}% CR` } });\nif (pipeOffenders.length > 0) {\n  slackBlocks.push({ type: 'divider' });\n  slackBlocks.push({ type: 'section', text: { type: 'mrkdwn', text: '*:rotating_light: Pipeline must clear by tomorrow morning*' } });\n  for (const a of pipeOffenders) slackBlocks.push({ type: 'section', text: { type: 'mrkdwn', text: `*${a.name}* — ${a.pd_eod} past due · ${a.actionable_eod} actionable · ${fmt(a.stake_eod)} premium @ stake` } });\n}\nslackBlocks.push({ type: 'context', elements: [{ type: 'mrkdwn', text: 'Per-agent EOD email sent to anyone with an address on file. Set agents.email in Supabase to opt in.' }] });\n\n// Per-agent email payloads (only for agents with email set)\nconst emails = rollup.filter((a) => a.email).map((a) => ({\n  to: a.email,\n  subject: `[DSB] EOD pipeline + WTD recap — ${date}`,\n  html: [\n    `<h2>End-of-day recap, ${a.name}</h2>`,\n    `<p>Window: <strong>${weekStartIso} → ${date}</strong></p>`,\n    `<h3>Week to date</h3>`,\n    `<ul>`,\n    `<li>Sales: <strong>${a.wtd_sales}</strong></li>`,\n    `<li>Premium: <strong>${fmt(a.wtd_premium)}</strong></li>`,\n    `<li>Leads (incl. pool self-assigned): <strong>${a.wtd_leads}</strong></li>`,\n    `<li>Overall close rate: <strong>${a.wtd_cr_pct.toFixed(1)}%</strong></li>`,\n    `</ul>`,\n    `<h3>Pipeline at end of day</h3>`,\n    `<ul>`,\n    `<li>Past-due follow-ups: <strong>${a.pd_eod}</strong></li>`,\n    `<li>Untouched leads: <strong>${a.untouched_eod}</strong></li>`,\n    `<li><strong>Actionable backlog (past due + untouched): ${a.actionable_eod}</strong></li>`,\n    `<li>Today's follow-ups (not yet worked): <strong>${a.fu_eod}</strong></li>`,\n    `<li>Call queue (cadence is working it): <strong>${a.queue_eod}</strong></li>`,\n    `<li>Premium @ stake on actionable backlog: <strong>${fmt(a.stake_eod)}</strong></li>`,\n    `</ul>`,\n    `<p>Critical = more than 3 past due OR more than 40 actionable. Clear past dues before any new activity tomorrow morning.</p>`,\n    `<hr><p style=\"color:#888;font-size:11px\">Automated DSB pipeline EOD report. Reply to your manager with questions.</p>`\n  ].join('\\n')\n}));\n\nreturn [{ json: {\n  slack: { text: 'EOD after-action — ' + date, blocks: slackBlocks },\n  emails,\n  emailCount: emails.length,\n  date,\n  weekStartIso\n}}];"
      },
      "id": "pc-build-eod",
      "name": "Build EOD Slack + Emails",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1080, 100]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "YOUR_SLACK_WEBHOOK_URL",
        "sendHeaders": true,
        "headerParameters": { "parameters": [{ "name": "Content-Type", "value": "application/json" }] },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify($json) }}",
        "options": { "timeout": 10000 }
      },
      "id": "pc-slack-morning",
      "name": "Send Slack (Morning)",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1360, -300]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "YOUR_SLACK_WEBHOOK_URL",
        "sendHeaders": true,
        "headerParameters": { "parameters": [{ "name": "Content-Type", "value": "application/json" }] },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify($json) }}",
        "options": { "timeout": 10000 }
      },
      "id": "pc-slack-midday",
      "name": "Send Slack (Midday)",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1360, -100]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "YOUR_SLACK_WEBHOOK_URL",
        "sendHeaders": true,
        "headerParameters": { "parameters": [{ "name": "Content-Type", "value": "application/json" }] },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify($json.slack) }}",
        "options": { "timeout": 10000 }
      },
      "id": "pc-slack-eod",
      "name": "Send Slack (EOD)",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1360, 60]
    },
    {
      "parameters": {
        "jsCode": "const out = $input.first().json;\nreturn (out.emails || []).map((e) => ({ json: e }));"
      },
      "id": "pc-split-emails",
      "name": "Split Emails Per Agent",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1360, 220]
    },
    {
      "parameters": {
        "sendTo": "={{ $json.to }}",
        "subject": "={{ $json.subject }}",
        "emailType": "html",
        "message": "={{ $json.html }}",
        "options": {}
      },
      "id": "pc-gmail-send",
      "name": "Gmail: Send EOD",
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [1600, 220],
      "credentials": { "gmailOAuth2": { "id": "REPLACE_WITH_GMAIL_CRED_ID", "name": "Gmail account" } }
    }
  ],
  "connections": {
    "Trigger 8am CST (Morning)": { "main": [[{ "node": "Set: Morning Context", "type": "main", "index": 0 }]] },
    "Trigger 1pm CST (Midday)":  { "main": [[{ "node": "Set: Midday Context",  "type": "main", "index": 0 }]] },
    "Trigger 7pm CST (EOD)":     { "main": [[{ "node": "Set: EOD Context",     "type": "main", "index": 0 }]] },
    "Manual Trigger":            { "main": [[{ "node": "Set: Manual Context",  "type": "main", "index": 0 }]] },
    "Set: Morning Context": { "main": [[{ "node": "Fetch Agent Roster", "type": "main", "index": 0 }]] },
    "Set: Midday Context":  { "main": [[{ "node": "Fetch Agent Roster", "type": "main", "index": 0 }]] },
    "Set: EOD Context":     { "main": [[{ "node": "Fetch Agent Roster", "type": "main", "index": 0 }]] },
    "Set: Manual Context":  { "main": [[{ "node": "Fetch Agent Roster", "type": "main", "index": 0 }]] },
    "Fetch Agent Roster":   { "main": [[{ "node": "Start Pipeline Scraper", "type": "main", "index": 0 }]] },
    "Start Pipeline Scraper": { "main": [[{ "node": "Wait 5 Minutes", "type": "main", "index": 0 }]] },
    "Wait 5 Minutes": { "main": [[{ "node": "Poll Run Status", "type": "main", "index": 0 }]] },
    "Poll Run Status": { "main": [[{ "node": "Run Succeeded?", "type": "main", "index": 0 }]] },
    "Run Succeeded?": {
      "main": [
        [{ "node": "Fetch Dataset & Parse", "type": "main", "index": 0 }],
        [{ "node": "Wait & Retry", "type": "main", "index": 0 }]
      ]
    },
    "Wait & Retry": { "main": [[{ "node": "Poll Run Status", "type": "main", "index": 0 }]] },
    "Fetch Dataset & Parse": { "main": [[{ "node": "Data OK?", "type": "main", "index": 0 }]] },
    "Data OK?": { "main": [[{ "node": "Ingest (daily + intraday)", "type": "main", "index": 0 }], []] },
    "Ingest (daily + intraday)": { "main": [[{ "node": "Switch on Snapshot", "type": "main", "index": 0 }]] },
    "Switch on Snapshot": {
      "main": [
        [{ "node": "Build Morning Slack", "type": "main", "index": 0 }],
        [{ "node": "Build Midday Slack",  "type": "main", "index": 0 }],
        [{ "node": "Build EOD Slack + Emails", "type": "main", "index": 0 }]
      ]
    },
    "Build Morning Slack": { "main": [[{ "node": "Send Slack (Morning)", "type": "main", "index": 0 }]] },
    "Build Midday Slack":  { "main": [[{ "node": "Send Slack (Midday)",  "type": "main", "index": 0 }]] },
    "Build EOD Slack + Emails": {
      "main": [[
        { "node": "Send Slack (EOD)", "type": "main", "index": 0 },
        { "node": "Split Emails Per Agent", "type": "main", "index": 0 }
      ]]
    },
    "Split Emails Per Agent": { "main": [[{ "node": "Gmail: Send EOD", "type": "main", "index": 0 }]] }
  },
  "active": false,
  "settings": { "executionOrder": "v1" },
  "pinData": {},
  "meta": { "templateCredsSetupCompleted": true, "instanceId": "dsb-pipeline-compliance-unified" }
}
