n8n/dsb-daily-scrape-v5-pool.json
{
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "cronExpression",
              "expression": "0 8-18 * * 1-5"
            }
          ]
        }
      },
      "id": "5b732841-0396-4bd6-ac7d-b18d3c6a7a4f",
      "name": "Schedule Trigger1",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.1,
      "position": [
        -8640,
        1232
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.apify.com/v2/acts/MIlgC3KEFTXzIcnMt/runs?token=YOUR_APIFY_TOKEN",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ crmUsername: 'YOUR_CRM_USERNAME', crmPassword: 'YOUR_CRM_PASSWORD', poolReconcileDays: 5, saleMadeOutboundTypeBySite: { RMT: '' }, scrapeDate: (() => { const central = new Date().toLocaleDateString('en-CA', { timeZone: 'America/Chicago' }); const [y,m,dd] = central.split('-').map(Number); const d = new Date(y, m-1, dd); const day = d.getDay(); if (day === 0) d.setDate(d.getDate() - 2); else if (day === 6) d.setDate(d.getDate() - 1); const py = d.getFullYear(); const pm = String(d.getMonth()+1).padStart(2,'0'); const pd = String(d.getDate()).padStart(2,'0'); return py+'-'+pm+'-'+pd; })() }) }}",
        "options": {
          "timeout": 10000
        }
      },
      "id": "6bdb465e-1286-4eb4-8946-8e44ad491372",
      "name": "Start Apify Run",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -8384,
        1376
      ]
    },
    {
      "parameters": {
        "amount": 3,
        "unit": "minutes"
      },
      "id": "38f6a82f-1d7d-49f1-8f3e-771d06535fbc",
      "name": "Wait 3 Minutes",
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        -8160,
        1376
      ],
      "webhookId": "2c079141-6fd6-444f-ac21-b41cb3587aab"
    },
    {
      "parameters": {
        "url": "=https://api.apify.com/v2/actor-runs/{{ $node['Start Apify Run'].json.data.id }}?token=YOUR_APIFY_TOKEN",
        "options": {}
      },
      "id": "2e0722a2-3226-4eda-80ce-3a2c0d08e311",
      "name": "Check Run Status",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -7936,
        1376
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "run-succeeded",
              "leftValue": "={{ $json.data.status }}",
              "rightValue": "SUCCEEDED",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "ffd252aa-da47-4a6d-b844-d4f009817931",
      "name": "Run Succeeded?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -7728,
        1376
      ]
    },
    {
      "parameters": {
        "amount": 2,
        "unit": "minutes"
      },
      "id": "67e468ff-455d-4874-a096-18c7286600ec",
      "name": "Wait & Retry",
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        -7728,
        1632
      ],
      "webhookId": "21a261ff-88a8-4b96-9bc6-130d89244710"
    },
    {
      "parameters": {
        "jsCode": "const runStatus = $input.first().json;\nconst datasetId = runStatus?.data?.defaultDatasetId;\nconst runId = runStatus?.data?.id || 'unknown';\n\nif (!datasetId) {\n  return [{\n    json: {\n      error: true,\n      message: 'No defaultDatasetId in run status. runId=' + runId + ' status=' + (runStatus?.data?.status || 'unknown')\n    }\n  }];\n}\n\nconst token = 'YOUR_APIFY_TOKEN';\n\nasync function fetchDataset(dsId, attempt) {\n  const url = `https://api.apify.com/v2/datasets/${dsId}/items?token=${token}`;\n  const raw = await this.helpers.httpRequest({\n    method: 'GET',\n    url,\n    encoding: 'utf-8',\n    returnFullResponse: false,\n    timeout: 60000,\n    headers: { 'Accept': 'application/json' },\n  });\n  let parsed = raw;\n  if (typeof raw === 'string') {\n    try { parsed = JSON.parse(raw); } catch (e) {\n      throw new Error(`JSON parse failed (attempt ${attempt}): ${raw.substring(0, 200)}`);\n    }\n  }\n  return parsed;\n}\n\nlet datasetItems;\nlet lastErr;\nfor (let attempt = 1; attempt <= 3; attempt++) {\n  try {\n    datasetItems = await fetchDataset.call(this, datasetId, attempt);\n    if (Array.isArray(datasetItems) && datasetItems.length > 0) break;\n    if (attempt < 3) {\n      await new Promise(r => setTimeout(r, 15000));\n    }\n  } catch (err) {\n    lastErr = err;\n    if (attempt < 3) {\n      await new Promise(r => setTimeout(r, 15000));\n    }\n  }\n}\n\nif (lastErr && (!datasetItems || !Array.isArray(datasetItems) || datasetItems.length === 0)) {\n  return [{\n    json: {\n      error: true,\n      message: `Fetch dataset failed after 3 attempts: ${lastErr.message}`,\n      datasetId, runId\n    }\n  }];\n}\n\nif (!datasetItems || !Array.isArray(datasetItems) || datasetItems.length === 0) {\n  return [{\n    json: {\n      error: true,\n      message: `Dataset ${datasetId} empty after 3 attempts (runId=${runId}). Type=${typeof datasetItems}`,\n      datasetId, runId\n    }\n  }];\n}\n\nconst central = new Date().toLocaleDateString('en-CA', { timeZone: 'America/Chicago' });\nconst [cy,cm,cd] = central.split('-').map(Number);\nconst today = new Date(cy, cm-1, cd);\nconst day = today.getDay();\nif (day === 0) today.setDate(today.getDate() - 2);\nelse if (day === 6) today.setDate(today.getDate() - 1);\nconst scrapeDate = today.getFullYear()+'-'+String(today.getMonth()+1).padStart(2,'0')+'-'+String(today.getDate()).padStart(2,'0');\n\nconst agents = datasetItems.filter(item => !item._type);\nconst poolItem = datasetItems.find(item => item._type === 'pool_data');\nconst poolAgents = poolItem ? (poolItem.pool_agents || []) : [];\nconst poolInventory = poolItem ? (poolItem.pool_inventory || []) : [];\nconst perfItem = datasetItems.find(item => item._type === 'agent_performance');\nconst perfAgents = perfItem ? (perfItem.agents || []) : [];\nconst reconciliationItems = datasetItems.filter(item => item._type === 'pool_sales_reconciliation');\n\nreturn [{\n  json: {\n    scrape_date: scrapeDate,\n    agents: agents,\n    pool_agents: poolAgents,\n    pool_inventory: poolInventory,\n    perf_agents: perfAgents,\n    pool_reconciliation: reconciliationItems\n  }\n}];"
      },
      "id": "5750fa1a-cc08-467e-9d9f-bd45c3335802",
      "name": "Fetch Dataset & Build Payload",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -7488,
        1264
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "has-agents",
              "leftValue": "={{ $json.error }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "true"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "1810cd5e-3515-4f14-8410-2c02cfeb8fe1",
      "name": "Dataset OK?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -7264,
        1264
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://YOUR_SUPABASE_PROJECT_REF.supabase.co/functions/v1/ingest-daily-scrape",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ scrape_date: $json.scrape_date, agents: $json.agents }) }}",
        "options": {
          "timeout": 30000
        }
      },
      "id": "dce43477-18da-4c50-a74b-2e8a48eb01c3",
      "name": "POST to Supabase",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -6992,
        1168
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "check-success",
              "leftValue": "={{ $json.success }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "true"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "074d7444-f833-4fde-973c-b13bbc314c62",
      "name": "Ingestion OK?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -6768,
        1168
      ]
    },
    {
      "parameters": {
        "jsCode": "/**\n * DSB daily scrape — Slack production digest (all active agents).\n * All agents are remote (RMT). No site filtering or grouping.\n * Merge: node n8n/snippets/merge-dsb-daily-slack.mjs\n *\n * Template uses YOUR_* placeholders; filled by generate-dsb-daily-LIVE.mjs for local paste.\n */\nconst payload = $node[\"Fetch Dataset & Build Payload\"].json;\nconst agents = payload.agents || [];\nconst scrapeDate = payload.scrape_date;\nconst apikey = \"YOUR_ROLI_ANON_KEY\";\nconst base = \"https://YOUR_SUPABASE_PROJECT_REF.supabase.co/rest/v1\";\nconst hdr = { apikey: apikey };\n\nconst rosterNames = new Set();\ntry {\n  const roster = await this.helpers.httpRequest({\n    method: \"GET\",\n    url: base + \"/agents?select=name&is_active=eq.true\",\n    headers: hdr,\n    json: true,\n  });\n  for (const r of roster) rosterNames.add(r.name);\n} catch (e) {}\n\nfunction inRoster(agentName) {\n  return rosterNames.size === 0 || rosterNames.has(agentName);\n}\n\nconst yd = new Date(scrapeDate);\nyd.setDate(yd.getDate() - 1);\nif (yd.getDay() === 0) yd.setDate(yd.getDate() - 2);\nif (yd.getDay() === 6) yd.setDate(yd.getDate() - 1);\nconst yesterdayStr = yd.toISOString().slice(0, 10);\nlet yData = [];\ntry {\n  yData = await this.helpers.httpRequest({\n    method: \"GET\",\n    url:\n      base +\n      \"/daily_scrape_data?select=agent_name,ib_sales,ob_sales,custom_sales,ib_premium,ob_premium,custom_premium&scrape_date=eq.\" +\n      yesterdayStr,\n    headers: hdr,\n    json: true,\n  });\n} catch (e) {}\n\nlet ySales = 0, yPremium = 0;\nfor (const a of yData) {\n  if (!inRoster(a.agent_name)) continue;\n  ySales += (a.ib_sales || 0) + (a.ob_sales || 0) + (a.custom_sales || 0);\n  yPremium += (a.ib_premium || 0) + (a.ob_premium || 0) + (a.custom_premium || 0);\n}\n\nlet totalS = 0, totalP = 0, totalIBL = 0, totalOBL = 0, totalIBS = 0, totalOBS = 0, totalBonS = 0, totalBonP = 0, agentCount = 0;\n\nfor (const a of agents) {\n  const name = a.agent_name || a.name;\n  if (!inRoster(name)) continue;\n  agentCount++;\n  totalIBS += a.ib_sales || 0;\n  totalOBS += a.ob_sales || 0;\n  totalBonS += a.custom_sales || 0;\n  totalP += (a.ib_premium || 0) + (a.ob_premium || 0);\n  totalBonP += a.custom_premium || 0;\n  totalIBL += a.ib_leads_delivered || 0;\n  totalOBL += a.ob_leads_delivered || 0;\n}\ntotalS = totalIBS + totalOBS + totalBonS;\ntotalP += totalBonP;\n\nconst fmt = (n) => \"$\" + Math.round(n).toLocaleString();\nconst arrow = (curr, prev) => {\n  if (prev === 0 && curr === 0) return \"\";\n  if (prev === 0) return \" :arrow_up:\";\n  const pct = (((curr - prev) / prev) * 100).toFixed(0);\n  if (curr > prev) return \" :chart_with_upwards_trend: +\" + pct + \"%\";\n  if (curr < prev) return \" :chart_with_downwards_trend: \" + pct + \"%\";\n  return \" :arrow_right: 0%\";\n};\n\nconst now = new Date();\nconst h = now.getUTCHours() - 6;\nconst ampm = h >= 12 ? \"PM\" : \"AM\";\nconst h12 = h > 12 ? h - 12 : h === 0 ? 12 : h;\nconst mm = String(now.getUTCMinutes()).padStart(2, \"0\");\nconst time = h12 + \":\" + mm + \" \" + ampm;\n\nconst totalIBCR = totalIBL > 0 ? ((totalIBS / totalIBL) * 100).toFixed(1) + \"%\" : \"--\";\nconst totalOBCR = totalOBL > 0 ? ((totalOBS / totalOBL) * 100).toFixed(1) + \"%\" : \"--\";\nconst totalLeads = totalIBL + totalOBL;\nconst overallCR = totalLeads > 0 ? (((totalIBS + totalOBS) / totalLeads) * 100).toFixed(1) + \"%\" : \"--\";\n\nconst hasYesterday = yData.length > 0;\nconst vsYesterday = hasYesterday\n  ? \"\\n_vs yesterday:_ Sales\" + arrow(totalS, ySales) + \"  |  Premium\" + arrow(totalP, yPremium)\n  : \"\";\n\nconst poolAgents = payload.pool_agents || [];\nconst poolInventory = payload.pool_inventory || [];\nlet poolSection = \"\";\nif (poolAgents.length > 0) {\n  const inRosterPool = poolAgents.filter((a) => inRoster(a.agent_name));\n  const poolCalls = inRosterPool.reduce((s, a) => s + (a.calls_made || 0), 0);\n  const poolLong = inRosterPool.reduce((s, a) => s + (a.long_calls || 0), 0);\n  const poolAssigned = inRosterPool.reduce((s, a) => s + (a.self_assigned_leads || 0), 0);\n  const poolSales = inRosterPool.reduce((s, a) => s + (a.sales_made || 0), 0);\n  const poolPrem = inRosterPool.reduce((s, a) => s + (a.premium || 0), 0);\n  const poolAnswered = inRosterPool.reduce((s, a) => s + (a.answered_calls || 0), 0);\n  const contactRate = poolCalls > 0 ? ((poolAnswered / poolCalls) * 100).toFixed(0) : \"--\";\n  const totalPoolLeads = poolInventory.reduce((s, i) => s + (i.total_leads || 0), 0);\n  poolSection =\n    \"\\n\\n:busts_in_silhouette: *Leads pool:*  \" + inRosterPool.length + \" agents  |  \" +\n    poolCalls + \" calls  |  \" + contactRate + \"% contact rate\\n\" +\n    poolLong + \" long calls  |  \" + poolAssigned + \" self-assigned  |  \" +\n    poolSales + \" sales  |  \" + fmt(poolPrem) +\n    (totalPoolLeads > 0 ? \"\\n:package: Pool inventory: \" + totalPoolLeads + \" contactable leads\" : \"\");\n}\n\nconst message = {\n  text: \"DSB production digest \\u2014 \" + scrapeDate,\n  blocks: [\n    { type: \"header\", text: { type: \"plain_text\", text: \"DSB production digest \\u2014 \" + scrapeDate, emoji: true } },\n    { type: \"section\", text: { type: \"mrkdwn\", text: \"*\" + agentCount + \" agents* at *\" + time + \" CST*\" } },\n    { type: \"divider\" },\n    { type: \"section\", text: { type: \"mrkdwn\", text:\n      \"*\" + totalS + \" sales  |  \" + fmt(totalP) + \" premium*\\n\" +\n      \"IB CR: *\" + totalIBCR + \"*  |  OB CR: *\" + totalOBCR + \"*  |  Overall: *\" + overallCR + \"*\" +\n      (totalBonS > 0 ? \"\\n:star: *Bonus / custom:*  \" + totalBonS + \" sales  |  \" + fmt(totalBonP) + \" premium\" : \"\") +\n      vsYesterday + poolSection\n    }},\n    { type: \"context\", elements: [{ type: \"mrkdwn\", text: \"Report date: \" + scrapeDate + \"  |  Ingested to Supabase  |  Next run in ~1 hour\" }] },\n  ],\n};\n\nreturn [{ json: message }];\n"
      },
      "id": "f90810ec-2860-4dc6-81ae-6967ee407fe9",
      "name": "Build Slack Summary",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -6512,
        960
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "YOUR_SLACK_INBOUND_WEBHOOK_URL",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify($json) }}",
        "options": {
          "timeout": 10000
        }
      },
      "id": "6a547935-3cef-44eb-888a-a818ea77c967",
      "name": "Send to Slack",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -6272,
        960
      ]
    },
    {
      "parameters": {
        "jsCode": "const payload = $node['Fetch Dataset & Build Payload'].json;\nconst poolAgents = payload.pool_agents || [];\nconst poolInventory = payload.pool_inventory || [];\n\nreturn [{\n  json: {\n    scrape_date: payload.scrape_date,\n    agents: poolAgents,\n    inventory: poolInventory\n  }\n}];"
      },
      "id": "23334cd5-ce59-453f-a91a-ffce18eb7e87",
      "name": "Build Pool Payload",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -6512,
        1216
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "has-pool-data",
              "leftValue": "={{ $json.agents.length }}",
              "rightValue": 0,
              "operator": {
                "type": "number",
                "operation": "gt"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "60620ff0-87cf-4a35-8712-5cf2638bebe1",
      "name": "Has Pool Data?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -6272,
        1216
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://YOUR_SUPABASE_PROJECT_REF.supabase.co/functions/v1/ingest-leads-pool",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify($json) }}",
        "options": {
          "timeout": 30000
        }
      },
      "id": "59502a68-3b1e-4363-94bf-e3c9f02aea87",
      "name": "POST Pool to Supabase",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -6032,
        1168
      ]
    },
    {
      "parameters": {
        "jsCode": "const payload = $node['Fetch Dataset & Build Payload'].json;\nconst perfAgents = payload.perf_agents || [];\n\nreturn [{\n  json: {\n    scrape_date: payload.scrape_date,\n    agents: perfAgents\n  }\n}];"
      },
      "id": "10811e6b-619d-4de2-905a-840d50b1900a",
      "name": "Build Perf Payload",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -6512,
        1472
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "loose"
          },
          "conditions": [
            {
              "id": "has-perf-data",
              "leftValue": "={{ $json.agents.length }}",
              "rightValue": 0,
              "operator": {
                "type": "number",
                "operation": "gt"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "a8dccfc7-129e-4c0b-b123-be362327c84b",
      "name": "Has Perf Data?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -6272,
        1472
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://YOUR_SUPABASE_PROJECT_REF.supabase.co/functions/v1/ingest-agent-performance",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify($json) }}",
        "options": {
          "timeout": 30000
        }
      },
      "id": "6f1c9ce3-6722-4f65-bc0d-b0b41c1465a1",
      "name": "POST Perf to Supabase",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -6032,
        1424
      ]
    },
    {
      "parameters": {
        "jsCode": "const payload = $node['Fetch Dataset & Build Payload'].json;\nconst items = payload.pool_reconciliation || [];\n\nif (items.length === 0) {\n  return [{ json: { _empty: true, count: 0 } }];\n}\n\nreturn items.map(item => ({\n  json: {\n    scrape_date: item.scrape_date,\n    agents: item.pool_agents || [],\n    sales_only: true\n  }\n}));"
      },
      "id": "49c7a4ab-c6be-45e1-98bf-efd15d6c2067",
      "name": "Build Reconciliation Payloads",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -6512,
        1712
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "loose"
          },
          "conditions": [
            {
              "id": "has-reconciliation",
              "leftValue": "={{ $json._empty }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "notTrue"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "9502691f-1927-43e2-8af9-a7ebb6c2cf93",
      "name": "Has Reconciliation?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -6272,
        1712
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://YOUR_SUPABASE_PROJECT_REF.supabase.co/functions/v1/ingest-leads-pool",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify($json) }}",
        "options": {
          "timeout": 30000
        }
      },
      "id": "d09f8bc9-7ff8-4bdb-9209-331e52bf8ec2",
      "name": "POST Reconciliation to Supabase",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -6032,
        1664
      ]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "status",
              "name": "status",
              "value": "={{ 'DSB Scrape FAILED: ' + ($json.message || JSON.stringify($json.errors || $json)) }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "f9c55589-5470-4ae4-9650-27dfd4f9e7cf",
      "name": "Log Error",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -6992,
        1408
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "YOUR_SLACK_INBOUND_WEBHOOK_URL",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ text: ':rotating_light: DSB Scrape Pipeline Error:\\n' + $json.status }) }}",
        "options": {
          "timeout": 10000
        }
      },
      "id": "99c8e25a-bfbc-49fb-9027-d348d8da90ba",
      "name": "Alert Slack Error",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -6752,
        1408
      ]
    }
  ],
  "connections": {
    "Schedule Trigger1": {
      "main": [
        [
          {
            "node": "Start Apify Run",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Start Apify Run": {
      "main": [
        [
          {
            "node": "Wait 3 Minutes",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait 3 Minutes": {
      "main": [
        [
          {
            "node": "Check Run Status",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check Run Status": {
      "main": [
        [
          {
            "node": "Run Succeeded?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Run Succeeded?": {
      "main": [
        [
          {
            "node": "Fetch Dataset & Build Payload",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Wait & Retry",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait & Retry": {
      "main": [
        [
          {
            "node": "Check Run Status",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fetch Dataset & Build Payload": {
      "main": [
        [
          {
            "node": "Dataset OK?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Dataset OK?": {
      "main": [
        [
          {
            "node": "Log Error",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "POST to Supabase",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "POST to Supabase": {
      "main": [
        [
          {
            "node": "Ingestion OK?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Ingestion OK?": {
      "main": [
        [
          {
            "node": "Build Slack Summary",
            "type": "main",
            "index": 0
          },
          {
            "node": "Build Pool Payload",
            "type": "main",
            "index": 0
          },
          {
            "node": "Build Perf Payload",
            "type": "main",
            "index": 0
          },
          {
            "node": "Build Reconciliation Payloads",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Log Error",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build Slack Summary": {
      "main": [
        [
          {
            "node": "Send to Slack",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build Pool Payload": {
      "main": [
        [
          {
            "node": "Has Pool Data?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Has Pool Data?": {
      "main": [
        [
          {
            "node": "POST Pool to Supabase",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build Perf Payload": {
      "main": [
        [
          {
            "node": "Has Perf Data?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Has Perf Data?": {
      "main": [
        [
          {
            "node": "POST Perf to Supabase",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build Reconciliation Payloads": {
      "main": [
        [
          {
            "node": "Has Reconciliation?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Has Reconciliation?": {
      "main": [
        [
          {
            "node": "POST Reconciliation to Supabase",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Log Error": {
      "main": [
        [
          {
            "node": "Alert Slack Error",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "pinData": {},
  "meta": {
    "instanceId": "89ecaea7644e2fc8bb00924fa95bf8f2f321b4752bc18483de9de5a764fee65c"
  }
}