n8n/dsb-daily-scrape.json
{
  "name": "DSB Daily Scrape Pipeline",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "cronExpression",
              "expression": "0 9,11,13,15,17,19 * * 1-5"
            }
          ]
        }
      },
      "id": "schedule-trigger",
      "name": "Every 2hrs 9AM-7PM CST",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [0, 0]
    },
    {
      "parameters": {},
      "id": "manual-trigger",
      "name": "Manual Trigger",
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [0, 200]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.apify.com/v2/acts/MIlgC3KEFTXzIcnMt/runs?token=YOUR_APIFY_TOKEN",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ crmUsername: 'YOUR_CRM_USERNAME', crmPassword: 'YOUR_CRM_PASSWORD', scrapeDate: (() => { const d = new Date(); const day = d.getDay(); if (day === 0) d.setDate(d.getDate() - 2); else if (day === 6) d.setDate(d.getDate() - 1); return d.toISOString().slice(0,10); })() }) }}",
        "options": {
          "timeout": 10000
        }
      },
      "id": "start-apify-run",
      "name": "Start Apify Run",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [300, 100]
    },
    {
      "parameters": {
        "amount": 3,
        "unit": "minutes"
      },
      "id": "wait-for-actor",
      "name": "Wait 3 Minutes",
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [520, 100]
    },
    {
      "parameters": {
        "url": "=https://api.apify.com/v2/actor-runs/{{ $node['Start Apify Run'].json.data.id }}?token=YOUR_APIFY_TOKEN",
        "options": {}
      },
      "id": "check-run-status",
      "name": "Check Run Status",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [740, 100]
    },
    {
      "parameters": {
        "conditions": {
          "options": { "caseSensitive": true, "leftValue": "", "typeValidation": "strict" },
          "conditions": [
            {
              "id": "run-succeeded",
              "leftValue": "={{ $json.data.status }}",
              "rightValue": "SUCCEEDED",
              "operator": { "type": "string", "operation": "equals" }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "if-run-done",
      "name": "Run Succeeded?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [960, 100]
    },
    {
      "parameters": {
        "amount": 2,
        "unit": "minutes"
      },
      "id": "wait-retry",
      "name": "Wait & Retry",
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [960, 320]
    },
    {
      "parameters": {
        "url": "=https://api.apify.com/v2/datasets/{{ $node['Check Run Status'].json.data.defaultDatasetId }}/items?format=json&token=YOUR_APIFY_TOKEN",
        "options": {}
      },
      "id": "fetch-dataset",
      "name": "Fetch Dataset Items",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1200, 0]
    },
    {
      "parameters": {
        "jsCode": "const agents = $input.all().map(item => item.json);\nconst today = new Date();\nconst day = today.getDay();\nif (day === 0) today.setDate(today.getDate() - 2);\nelse if (day === 6) today.setDate(today.getDate() - 1);\nconst scrapeDate = today.toISOString().slice(0, 10);\n\nreturn [{\n  json: {\n    scrape_date: scrapeDate,\n    agents: agents\n  }\n}];"
      },
      "id": "build-payload",
      "name": "Build Ingestion Payload",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1420, 0]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://bcibmmbxrjfiulofserv.supabase.co/functions/v1/ingest-daily-scrape",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "Content-Type", "value": "application/json" }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify($json) }}",
        "options": { "timeout": 30000 }
      },
      "id": "post-to-supabase",
      "name": "POST to Supabase",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1640, 0]
    },
    {
      "parameters": {
        "conditions": {
          "options": { "caseSensitive": true, "leftValue": "", "typeValidation": "strict" },
          "conditions": [
            {
              "id": "check-success",
              "leftValue": "={{ $json.success }}",
              "rightValue": true,
              "operator": { "type": "boolean", "operation": "true" }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "check-success",
      "name": "Ingestion OK?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [1860, 0]
    },
    {
      "parameters": {
        "jsCode": "const payload = $node['Build Ingestion Payload'].json;\nconst agents = payload.agents || [];\nconst scrapeDate = payload.scrape_date;\nconst apikey = 'eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImJjaWJtbWJ4cmpmaXVsb2ZzZXJ2Iiwicm9sZSI6ImFub24iLCJpYXQiOjE3NzQxMTMzNzAsImV4cCI6MjA4OTY4OTM3MH0.IIuxX_m34M4QOPORUr7v04AO3aLgdQnvMhD8rOjVnhQ';\nconst base = 'https://bcibmmbxrjfiulofserv.supabase.co/rest/v1';\nconst hdr = { 'apikey': apikey };\n\nconst roster = await this.helpers.httpRequest({ method:'GET', url: base+'/agents?select=name,site&is_active=eq.true', headers: hdr, json: true });\nconst siteMap = {};\nfor (const r of roster) siteMap[r.name] = r.site === 'AUS' ? 'ATX' : 'CLT';\n\n// Get yesterday's EOD data for comparison\nconst yd = new Date(scrapeDate);\nyd.setDate(yd.getDate() - 1);\nif (yd.getDay() === 0) yd.setDate(yd.getDate() - 2);\nif (yd.getDay() === 6) yd.setDate(yd.getDate() - 1);\nconst yesterdayStr = yd.toISOString().slice(0,10);\nlet yData = [];\ntry {\n  yData = await this.helpers.httpRequest({ method:'GET', url: base+'/daily_scrape_data?select=agent_name,ib_sales,ob_sales,custom_sales,ib_premium,ob_premium,custom_premium,ib_leads_delivered,ob_leads_delivered&scrape_date=eq.'+yesterdayStr, headers: hdr, json: true });\n} catch(e) {}\n\nconst ySites = { ATX: {s:0,p:0}, CLT: {s:0,p:0} };\nfor (const a of yData) {\n  const site = siteMap[a.agent_name] || 'CLT';\n  ySites[site].s += (a.ib_sales||0) + (a.ob_sales||0) + (a.custom_sales||0);\n  ySites[site].p += (a.ib_premium||0) + (a.ob_premium||0) + (a.custom_premium||0);\n}\n\n// Build current data\nconst data = {};\nfor (const site of ['ATX','CLT']) data[site] = { T1:{s:0,p:0,n:0}, T2:{s:0,p:0,n:0}, T3:{s:0,p:0,n:0} };\nconst bonus = { ATX:{s:0,p:0}, CLT:{s:0,p:0} };\nconst leads = { ATX:{T1:0,T2:0,T3:0}, CLT:{T1:0,T2:0,T3:0} };\nconst ib = { ATX:{leads:0,sales:0}, CLT:{leads:0,sales:0} };\nconst ob = { ATX:{leads:0,sales:0}, CLT:{leads:0,sales:0} };\n\nfor (const a of agents) {\n  const site = siteMap[a.agent_name] || 'CLT';\n  const tier = a.tier || 'T2';\n  data[site][tier].s += (a.ib_sales||0) + (a.ob_sales||0);\n  data[site][tier].p += (a.ib_premium||0) + (a.ob_premium||0);\n  data[site][tier].n++;\n  bonus[site].s += (a.custom_sales||0);\n  bonus[site].p += (a.custom_premium||0);\n  leads[site][tier] += (a.ib_leads_delivered||0) + (a.ob_leads_delivered||0);\n  ib[site].leads += (a.ib_leads_delivered||0);\n  ib[site].sales += (a.ib_sales||0);\n  ob[site].leads += (a.ob_leads_delivered||0);\n  ob[site].sales += (a.ob_sales||0);\n}\n\nconst fmt = (n) => '$' + Math.round(n).toLocaleString();\nconst siteTotal = (site) => ({ sales: data[site].T1.s+data[site].T2.s+data[site].T3.s, premium: data[site].T1.p+data[site].T2.p+data[site].T3.p, agents: data[site].T1.n+data[site].T2.n+data[site].T3.n });\nconst atx = siteTotal('ATX');\nconst clt = siteTotal('CLT');\n\n// Trend arrows\nconst arrow = (curr, prev) => {\n  if (prev === 0 && curr === 0) return '';\n  if (prev === 0) return ' :arrow_up:';\n  const pct = ((curr - prev) / prev * 100).toFixed(0);\n  if (curr > prev) return ' :chart_with_upwards_trend: +' + pct + '%';\n  if (curr < prev) return ' :chart_with_downwards_trend: ' + pct + '%';\n  return ' :arrow_right: 0%';\n};\n\nconst atxTotalS = atx.sales + bonus.ATX.s;\nconst atxTotalP = atx.premium + bonus.ATX.p;\nconst cltTotalS = clt.sales + bonus.CLT.s;\nconst cltTotalP = clt.premium + bonus.CLT.p;\n\nconst now = new Date();\nconst h = now.getUTCHours() - 6;\nconst ampm = h >= 12 ? 'PM' : 'AM';\nconst h12 = h > 12 ? h-12 : (h===0 ? 12 : h);\nconst mm = String(now.getUTCMinutes()).padStart(2,'0');\nconst time = h12+':'+mm+' '+ampm;\n\nconst cr = (site, tier) => { const l = leads[site][tier]; return l > 0 ? ((data[site][tier].s/l)*100).toFixed(1)+'%' : '--'; };\nconst ibCR = (site) => ib[site].leads > 0 ? ((ib[site].sales/ib[site].leads)*100).toFixed(1)+'%' : '--';\nconst obCR = (site) => ob[site].leads > 0 ? ((ob[site].sales/ob[site].leads)*100).toFixed(1)+'%' : '--';\nconst tierLine = (site, tier) => { const t = data[site][tier]; return t.n > 0 ? tier+': '+t.s+' sales / '+fmt(t.p)+' / '+cr(site,tier)+' CR' : tier+': --'; };\n\nconst totalS = atxTotalS + cltTotalS;\nconst totalP = atxTotalP + cltTotalP;\nconst totalIBLeads = ib.ATX.leads+ib.CLT.leads;\nconst totalOBLeads = ob.ATX.leads+ob.CLT.leads;\nconst totalIBSales = ib.ATX.sales+ib.CLT.sales;\nconst totalOBSales = ob.ATX.sales+ob.CLT.sales;\nconst totalIBCR = totalIBLeads > 0 ? ((totalIBSales/totalIBLeads)*100).toFixed(1)+'%' : '--';\nconst totalOBCR = totalOBLeads > 0 ? ((totalOBSales/totalOBLeads)*100).toFixed(1)+'%' : '--';\n\nconst yTotalS = ySites.ATX.s + ySites.CLT.s;\nconst yTotalP = ySites.ATX.p + ySites.CLT.p;\nconst hasYesterday = yData.length > 0;\n\nconst vsYesterday = hasYesterday ? '\\n_vs yesterday:_ Sales'+arrow(totalS,yTotalS)+'  |  Premium'+arrow(totalP,yTotalP) : '';\n\nconst message = {\n  text: 'DSB Production Update - ' + scrapeDate,\n  blocks: [\n    { type: 'header', text: { type: 'plain_text', text: 'DSB Production Update — ' + scrapeDate, emoji: true } },\n    { type: 'section', text: { type: 'mrkdwn', text: '*'+agents.length+' agents* reported at *'+time+' CST*' } },\n    { type: 'divider' },\n    { type: 'section', fields: [\n      { type: 'mrkdwn', text: '*ATX (Austin)  —  '+atxTotalS+' sales  |  '+fmt(atxTotalP)+'*'+(hasYesterday ? arrow(atxTotalS, ySites.ATX.s)+' vs prior' : '')+'\\nIB CR: *'+ibCR('ATX')+'*  |  OB CR: *'+obCR('ATX')+'*\\n'+tierLine('ATX','T1')+'\\n'+tierLine('ATX','T2')+'\\n'+tierLine('ATX','T3')+(bonus.ATX.s>0 ? '\\n:star: Bonus: '+bonus.ATX.s+' sales / '+fmt(bonus.ATX.p) : '') },\n      { type: 'mrkdwn', text: '*CLT (Charlotte)  —  '+cltTotalS+' sales  |  '+fmt(cltTotalP)+'*'+(hasYesterday ? arrow(cltTotalS, ySites.CLT.s)+' vs prior' : '')+'\\nIB CR: *'+ibCR('CLT')+'*  |  OB CR: *'+obCR('CLT')+'*\\n'+tierLine('CLT','T1')+'\\n'+tierLine('CLT','T2')+'\\n'+tierLine('CLT','T3')+(bonus.CLT.s>0 ? '\\n:star: Bonus: '+bonus.CLT.s+' sales / '+fmt(bonus.CLT.p) : '') }\n    ]},\n    { type: 'divider' },\n    { type: 'section', text: { type: 'mrkdwn', text: '*Combined:*  *'+totalS+'* sales  |  *'+fmt(totalP)+'* premium\\nIB CR: *'+totalIBCR+'*  |  OB CR: *'+totalOBCR+'*'+((bonus.ATX.s+bonus.CLT.s)>0 ? '\\n:star: *Bonus/Custom:*  '+(bonus.ATX.s+bonus.CLT.s)+' sales  |  '+fmt(bonus.ATX.p+bonus.CLT.p)+' premium' : '')+vsYesterday } },\n    { type: 'context', elements: [{ type: 'mrkdwn', text: 'Report date: '+scrapeDate+'  |  Next update in ~2 hours' }] }\n  ]\n};\n\nreturn [{ json: message }];"
      },
      "id": "build-slack-message",
      "name": "Build Slack Summary",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [2100, -100]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "YOUR_SLACK_WEBHOOK_URL",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "Content-Type", "value": "application/json" }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify($json) }}",
        "options": { "timeout": 10000 }
      },
      "id": "send-slack",
      "name": "Send to Slack",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [2340, -100]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "status",
              "name": "status",
              "value": "={{ 'DSB Scrape FAILED: ' + JSON.stringify($json.errors || $json) }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "error-log",
      "name": "Log Error",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [2100, 100]
    }
  ],
  "connections": {
    "Every 2hrs 9AM-7PM CST": {
      "main": [
        [{ "node": "Start Apify Run", "type": "main", "index": 0 }]
      ]
    },
    "Manual Trigger": {
      "main": [
        [{ "node": "Start Apify Run", "type": "main", "index": 0 }]
      ]
    },
    "Start Apify Run": {
      "main": [
        [{ "node": "Wait 3 Minutes", "type": "main", "index": 0 }]
      ]
    },
    "Wait 3 Minutes": {
      "main": [
        [{ "node": "Check Run Status", "type": "main", "index": 0 }]
      ]
    },
    "Check Run Status": {
      "main": [
        [{ "node": "Run Succeeded?", "type": "main", "index": 0 }]
      ]
    },
    "Run Succeeded?": {
      "main": [
        [{ "node": "Fetch Dataset Items", "type": "main", "index": 0 }],
        [{ "node": "Wait & Retry", "type": "main", "index": 0 }]
      ]
    },
    "Wait & Retry": {
      "main": [
        [{ "node": "Check Run Status", "type": "main", "index": 0 }]
      ]
    },
    "Fetch Dataset Items": {
      "main": [
        [{ "node": "Build Ingestion Payload", "type": "main", "index": 0 }]
      ]
    },
    "Build Ingestion Payload": {
      "main": [
        [{ "node": "POST to Supabase", "type": "main", "index": 0 }]
      ]
    },
    "POST to Supabase": {
      "main": [
        [{ "node": "Ingestion OK?", "type": "main", "index": 0 }]
      ]
    },
    "Ingestion OK?": {
      "main": [
        [{ "node": "Build Slack Summary", "type": "main", "index": 0 }],
        [{ "node": "Log Error", "type": "main", "index": 0 }]
      ]
    },
    "Build Slack Summary": {
      "main": [
        [{ "node": "Send to Slack", "type": "main", "index": 0 }]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "timezone": "America/Chicago"
  }
}
