n8n/hourly-action-alert.json
{
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "cronExpression",
              "expression": "5 9-17 * * 1-5"
            }
          ]
        }
      },
      "id": "c062146e-c8b5-44a6-bfb2-768db52b2858",
      "name": "Schedule :05 past hour CST",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.1,
      "position": [
        -16,
        -256
      ]
    },
    {
      "parameters": {},
      "id": "cfc75e04-a156-421e-892b-77f2fffec244",
      "name": "Manual Trigger",
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        -16,
        -64
      ]
    },
    {
      "parameters": {
        "jsCode": "/**\n * Safe template (committed). Replace every YOUR_* below, then merge into workflow:\n *   node n8n/snippets/merge-hourly-fetch.mjs --example\n * Or copy to `hourly-fetch-with-marketing.js` (gitignored): merge prefers that file.\n *\n * Remote hourly scope: RMT + AUS, selling or training. Operations excluded.\n * Intraday: cumulative MTD from latest snapshot + rolling deltas vs prior snapshot (≈ hourly scrape cadence).\n * Marketing blend: calendar week-to-date (Mon–last completed day) when AAR rows exist; else trailing 7 days.\n */\nconst apikey = \"YOUR_ROLI_ANON_KEY\";\nlet base = \"YOUR_ROLI_SUPABASE_URL\";\nbase = base.replace(/\\/+$/, \"\");\n\nconst mktApikey = \"YOUR_MARKETING_AAR_ANON_KEY\";\nlet mktBase = \"YOUR_MARKETING_AAR_REST_URL\";\nmktBase = mktBase.replace(/\\/+$/, \"\");\n\n/** PostgREST base: `https://<ref>.supabase.co/rest/v1` */\nfunction toRestV1(origin) {\n  const u = origin.replace(/\\/+$/, \"\");\n  return /\\/rest\\/v1$/i.test(u) ? u : `${u}/rest/v1`;\n}\nbase = toRestV1(base);\nmktBase = toRestV1(mktBase);\n\nconst hdr = { apikey, Authorization: `Bearer ${apikey}` };\nconst hdrMkt = { apikey: mktApikey, Authorization: `Bearer ${mktApikey}` };\n\nconst now = new Date();\nconst centralStr = now.toLocaleDateString(\"en-CA\", {\n  timeZone: \"America/Chicago\",\n});\nconst centralHour = Number(\n  now.toLocaleString(\"en-US\", {\n    timeZone: \"America/Chicago\",\n    hour: \"numeric\",\n    hour12: false,\n  })\n);\n\n/** Weekday index Sun=0..Sat=6 in America/Chicago (never parse locale strings into Date — breaks on n8n servers). */\nfunction chicagoWeekdayShort(ms) {\n  return new Intl.DateTimeFormat(\"en-US\", {\n    timeZone: \"America/Chicago\",\n    weekday: \"short\",\n  }).format(new Date(ms));\n}\n\nfunction chicagoDateString(ms) {\n  return new Date(ms).toLocaleDateString(\"en-CA\", {\n    timeZone: \"America/Chicago\",\n  });\n}\n\n/** Monday YYYY-MM-DD (Chicago) for the week containing `now`. */\nlet mondayStr = centralStr;\nlet tScan = now.getTime();\nfor (let i = 0; i < 8; i++) {\n  if (chicagoWeekdayShort(tScan) === \"Mon\") {\n    mondayStr = chicagoDateString(tScan);\n    break;\n  }\n  tScan -= 24 * 60 * 60 * 1000;\n}\n\nconst dowOrder = { Sun: 0, Mon: 1, Tue: 2, Wed: 3, Thu: 4, Fri: 5, Sat: 6 };\nconst dayOfWeek = dowOrder[chicagoWeekdayShort(now.getTime())] ?? 1;\nconst daysThisWeek = Math.min(dayOfWeek === 0 ? 5 : dayOfWeek, 5);\n\nfunction inCoachingScope(a) {\n  const st = String(a.agent_status || \"selling\").toLowerCase();\n  return st === \"selling\" || st === \"training\";\n}\n\nfunction isPlaceholder(v) {\n  if (v == null) return true;\n  const s = String(v).trim();\n  return s === \"\" || s.startsWith(\"YOUR_\");\n}\n\nconst mktConfigured = !isPlaceholder(mktApikey) && !isPlaceholder(mktBase);\n\nconst mktCols =\n  \"report_date,total_cost,cpc,total_calls,total_sales,total_premium,avg_premium,roas,marketing_acq_pct\";\n\n/** Isolated GET so a Marketing 401/RLS error does not fail the whole ROLI fetch. */\nconst mktGet = async (queryAfterSelect) => {\n  if (!mktConfigured) return [];\n  try {\n    const data = await this.helpers.httpRequest({\n      method: \"GET\",\n      url: `${mktBase}/company_daily_metrics?select=${mktCols}&${queryAfterSelect}`,\n      headers: hdrMkt,\n      json: true,\n    });\n    return Array.isArray(data) ? data : [];\n  } catch {\n    return [];\n  }\n};\n\nconst DEFAULT_LEAD_COST = 60;\nconst DEFAULT_AVG_PREM = 1150;\n\nfunction rowFromMkt(r) {\n  const cpc = Number(r.cpc) || DEFAULT_LEAD_COST;\n  const avgPrem = Number(r.avg_premium) || DEFAULT_AVG_PREM;\n  const tCost = Number(r.total_cost) || 0;\n  const tSales = Number(r.total_sales) || 0;\n  const costPerSale = tSales > 0 ? Math.round(tCost / tSales) : 0;\n  return {\n    report_date: String(r.report_date ?? \"\").slice(0, 10),\n    total_cost: tCost,\n    cpc,\n    total_calls: Number(r.total_calls) || 0,\n    total_sales: tSales,\n    total_premium: Number(r.total_premium) || 0,\n    avg_premium: avgPrem,\n    roas: Number(r.roas) || 0,\n    marketing_acq_pct: Number(r.marketing_acq_pct) || 0,\n    cost_per_sale: costPerSale,\n  };\n}\n\n/** Mean of marketing rows; `summaryMode` documents blend (week resets Monday CST). */\nfunction averageMarketingRows(rows, anchorDate, summaryMode) {\n  if (!rows || rows.length === 0) return null;\n  const norm = rows.map((r) => rowFromMkt(r));\n  const dates = [\n    ...new Set(norm.map((r) => String(r.report_date).slice(0, 10))),\n  ].sort();\n  const from = dates[0] || anchorDate;\n  const to = dates[dates.length - 1] || anchorDate;\n  const n = norm.length;\n  const mean = (pick) => norm.reduce((s, r) => s + pick(r), 0) / n;\n  const sumCost = norm.reduce((s, r) => s + r.total_cost, 0);\n  const sumSales = norm.reduce((s, r) => s + r.total_sales, 0);\n  const costPerSale = sumSales > 0 ? Math.round(sumCost / sumSales) : 0;\n  return {\n    report_date: anchorDate,\n    total_cost: mean((r) => r.total_cost),\n    cpc: mean((r) => r.cpc),\n    total_calls: Math.round(mean((r) => r.total_calls)),\n    total_sales: Math.round(mean((r) => r.total_sales)),\n    total_premium: mean((r) => r.total_premium),\n    avg_premium: mean((r) => r.avg_premium),\n    roas: mean((r) => r.roas),\n    marketing_acq_pct: mean((r) => r.marketing_acq_pct),\n    cost_per_sale: costPerSale,\n    summary_mode: summaryMode || \"rolling_7d_intraday\",\n    rolling_window: { from, to, days: n, resets_monday_cst: true },\n  };\n}\n\nconst [\n  roster,\n  weeklyData,\n  intradayData,\n  pipelineData,\n  poolData,\n  weeklyPoolData,\n  mktExact,\n  mktWeekWtd,\n  mktLast7,\n] = await Promise.all([\n  this.helpers.httpRequest({\n    method: \"GET\",\n    url: `${base}/agents?select=name,site,tier,manager,agent_status&is_active=eq.true`,\n    headers: hdr,\n    json: true,\n  }),\n  this.helpers.httpRequest({\n    method: \"GET\",\n    url: `${base}/daily_scrape_data?select=agent_name,scrape_date,ib_leads_delivered,ob_leads_delivered,ib_sales,ob_sales,custom_sales&scrape_date=gte.${mondayStr}&scrape_date=lte.${centralStr}&order=scrape_date.asc&limit=5000`,\n    headers: hdr,\n    json: true,\n  }),\n  this.helpers.httpRequest({\n    method: \"GET\",\n    url: `${base}/intraday_snapshots?select=agent_name,scrape_hour,total_dials,talk_time_minutes,ib_leads_delivered,ib_sales,ob_leads_delivered,ob_sales,ib_premium,ob_premium,custom_premium,pool_dials,pool_talk_minutes,pool_self_assigned,pool_answered,pool_long_calls&scrape_date=eq.${centralStr}&limit=5000`,\n    headers: hdr,\n    json: true,\n  }),\n  this.helpers.httpRequest({\n    method: \"GET\",\n    url: `${base}/pipeline_compliance_daily?select=agent_name,past_due_follow_ups,new_leads,call_queue_count,todays_follow_ups&scrape_date=eq.${centralStr}`,\n    headers: hdr,\n    json: true,\n  }),\n  this.helpers.httpRequest({\n    method: \"GET\",\n    url: `${base}/leads_pool_daily_data?select=agent_name,calls_made,talk_time_minutes,self_assigned_leads,answered_calls,long_calls,sales_made&scrape_date=eq.${centralStr}`,\n    headers: hdr,\n    json: true,\n  }),\n  this.helpers.httpRequest({\n    method: \"GET\",\n    url: `${base}/leads_pool_daily_data?select=agent_name,sales_made&scrape_date=gte.${mondayStr}&scrape_date=lte.${centralStr}`,\n    headers: hdr,\n    json: true,\n  }),\n  mktGet(`report_date=eq.${centralStr}&limit=1`),\n  mktGet(\n    `report_date=gte.${mondayStr}&report_date=lt.${centralStr}&order=report_date.asc`\n  ),\n  mktGet(`report_date=lt.${centralStr}&order=report_date.desc&limit=7`),\n]);\n\nconst mktTodayEq = Array.isArray(mktExact) && mktExact[0] ? mktExact[0] : null;\nlet mktRow = mktTodayEq;\nif (!mktRow && mktConfigured) {\n  const mktLatest = await mktGet(\"order=report_date.desc&limit=1\");\n  mktRow = mktLatest[0] || null;\n}\n\nconst weekRows = Array.isArray(mktWeekWtd) ? mktWeekWtd : [];\nconst last7 = Array.isArray(mktLast7) ? mktLast7 : [];\nconst useWeekBlend = weekRows.length > 0;\nconst blended = averageMarketingRows(\n  useWeekBlend ? weekRows : last7,\n  centralStr,\n  useWeekBlend ? \"week_to_date_cst\" : \"rolling_7d_fallback\"\n);\n\nlet marketingDaily = null;\nlet leadCostOverride = DEFAULT_LEAD_COST;\nlet avgPremiumOverride = DEFAULT_AVG_PREM;\n\nif (blended) {\n  marketingDaily = blended;\n  leadCostOverride = Math.round(blended.cpc);\n  avgPremiumOverride = Math.round(blended.avg_premium);\n} else if (mktRow) {\n  marketingDaily = rowFromMkt(mktRow);\n  leadCostOverride = Math.round(marketingDaily.cpc);\n  avgPremiumOverride = Math.round(marketingDaily.avg_premium);\n}\n\nif (mktTodayEq) {\n  const todayBody = rowFromMkt(mktTodayEq);\n  try {\n    await this.helpers.httpRequest({\n      method: \"POST\",\n      url: `${base}/daily_marketing_summary?on_conflict=report_date`,\n      headers: {\n        ...hdr,\n        \"Content-Type\": \"application/json\",\n        Prefer: \"resolution=merge-duplicates\",\n      },\n      body: todayBody,\n      json: true,\n    });\n  } catch (syncErr) {\n    // Table may not exist yet or RLS — workflow continues\n  }\n}\n\nif (!roster || roster.length === 0) {\n  throw new Error(\"No active agents found\");\n}\n\nconst rosterMap = {};\nfor (const a of roster) rosterMap[a.name] = a;\n\nconst weeklyByAgent = {};\nfor (const r of weeklyData || []) {\n  if (!rosterMap[r.agent_name]) continue;\n  if (!weeklyByAgent[r.agent_name]) weeklyByAgent[r.agent_name] = [];\n  weeklyByAgent[r.agent_name].push({\n    date: r.scrape_date,\n    ibLeads: r.ib_leads_delivered || 0,\n    obLeads: r.ob_leads_delivered || 0,\n    ibSales: r.ib_sales || 0,\n    obSales: r.ob_sales || 0,\n    customSales: r.custom_sales || 0,\n  });\n}\n\nconst weeklyPoolSales = {};\nfor (const r of weeklyPoolData || []) {\n  if (!rosterMap[r.agent_name]) continue;\n  weeklyPoolSales[r.agent_name] =\n    (weeklyPoolSales[r.agent_name] || 0) + (r.sales_made || 0);\n}\n\nfunction num(x) {\n  return Number(x) || 0;\n}\n\n/** Latest snapshot at or before `maxHour`, vs prior snapshot — rolling production between scrapes (~1h). */\nfunction buildIntradayRolling(rows, maxHour) {\n  const sorted = [...rows].sort(\n    (a, b) => Number(a.scrape_hour) - Number(b.scrape_hour)\n  );\n  const upTo = sorted.filter((r) => Number(r.scrape_hour) <= maxHour);\n  const latest =\n    upTo.length > 0 ? upTo[upTo.length - 1] : sorted[sorted.length - 1];\n  if (!latest) return null;\n  const prior = upTo.length >= 2 ? upTo[upTo.length - 2] : null;\n  /** Only defined when two snapshots exist — otherwise cumulative would fake a \"rolling hour\". */\n  const roll = (k) =>\n    prior ? Math.max(0, num(latest[k]) - num(prior[k])) : null;\n  return {\n    scrape_hour: latest.scrape_hour,\n    total_dials: num(latest.total_dials),\n    talk_time_minutes: num(latest.talk_time_minutes),\n    ib_leads_delivered: num(latest.ib_leads_delivered),\n    ob_leads_delivered: num(latest.ob_leads_delivered),\n    ib_sales: num(latest.ib_sales),\n    ob_sales: num(latest.ob_sales),\n    custom_sales: num(latest.custom_sales),\n    ib_premium: num(latest.ib_premium),\n    ob_premium: num(latest.ob_premium),\n    custom_premium: num(latest.custom_premium),\n    pool_dials: num(latest.pool_dials),\n    pool_talk_minutes: num(latest.pool_talk_minutes),\n    pool_self_assigned: num(latest.pool_self_assigned),\n    pool_answered: num(latest.pool_answered),\n    pool_long_calls: num(latest.pool_long_calls),\n    rolling_anchor_hour: maxHour,\n    rolling_prior_hour: prior ? prior.scrape_hour : null,\n    rolling_hour_dials: roll(\"total_dials\"),\n    rolling_hour_talk_min: roll(\"talk_time_minutes\"),\n    rolling_hour_pool_dials: roll(\"pool_dials\"),\n    rolling_hour_pool_talk_min: roll(\"pool_talk_minutes\"),\n    rolling_hour_pool_self: roll(\"pool_self_assigned\"),\n    rolling_hour_pool_answered: roll(\"pool_answered\"),\n    rolling_hour_pool_long: roll(\"pool_long_calls\"),\n    rolling_hour_ib_leads: roll(\"ib_leads_delivered\"),\n    rolling_hour_ob_leads: roll(\"ob_leads_delivered\"),\n    rolling_hour_ib_sales: roll(\"ib_sales\"),\n    rolling_hour_ob_sales: roll(\"ob_sales\"),\n    rolling_hour_custom_sales: roll(\"custom_sales\"),\n  };\n}\n\nconst intradayByAgent = {};\nfor (const r of intradayData || []) {\n  if (!rosterMap[r.agent_name]) continue;\n  if (!intradayByAgent[r.agent_name]) intradayByAgent[r.agent_name] = [];\n  intradayByAgent[r.agent_name].push(r);\n}\n\nconst intradayMap = {};\nfor (const name of Object.keys(rosterMap)) {\n  const rows = intradayByAgent[name];\n  intradayMap[name] =\n    rows && rows.length ? buildIntradayRolling(rows, centralHour) : null;\n}\n\nconst pipeMap = {};\nfor (const r of pipelineData || []) {\n  if (rosterMap[r.agent_name]) pipeMap[r.agent_name] = r;\n}\n\nconst poolMapData = {};\nfor (const r of poolData || []) {\n  if (rosterMap[r.agent_name]) poolMapData[r.agent_name] = r;\n}\n\nconst coachingFiltered = roster.filter(inCoachingScope);\n\nreturn [\n  {\n    json: {\n      scrapeDate: centralStr,\n      centralHour,\n      mondayStr,\n      daysThisWeek,\n      rosterMap,\n      weeklyByAgent,\n      weeklyPoolSales,\n      intradayMap,\n      pipeMap,\n      poolMapData,\n      orgAgentCount: roster.length,\n      agentCount: coachingFiltered.length,\n      marketingDaily,\n      leadCostOverride,\n      avgPremiumOverride,\n    },\n  },\n];\n"
      },
      "id": "6d804b34-d280-4284-bea0-c0f17b32a2ec",
      "name": "Fetch All Data Sources",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        224,
        -160
      ]
    },
    {
      "parameters": {
        "jsCode": "const {\n  scrapeDate,\n  centralHour,\n  daysThisWeek,\n  rosterMap,\n  weeklyByAgent,\n  weeklyPoolSales,\n  intradayMap,\n  pipeMap,\n  poolMapData,\n  agentCount,\n  orgAgentCount,\n  leadCostOverride,\n  avgPremiumOverride,\n} = $input.first().json;\n\nfunction inCoachingScope(a) {\n  const st = String(a.agent_status || \"selling\").toLowerCase();\n  return st === \"selling\" || st === \"training\";\n}\n\nconst DEFAULT_LC = 60;\nconst lc =\n  typeof leadCostOverride === \"number\" && leadCostOverride > 0 ? leadCostOverride : DEFAULT_LC;\n\nconst CFG = {\n  DAILY_LEADS: 7,\n  LEAD_COST: lc,\n  CR_TARGET: 22,\n  CR_FLOOR: 20,\n  CR_CRISIS: 15,\n  CR_CRISIS_DAYS: 3,\n  MAX_PIPELINE: 30,\n  PIPELINE_CRITICAL: 40,\n  POOL_DAILY_ASSIGNS: 5,\n  POOL_WEEKLY_SALES: 1,\n  POOL_MIN_ASSIGN_RATE: 30,\n  AVG_PREMIUM_ORG:\n    typeof avgPremiumOverride === \"number\" && avgPremiumOverride > 0 ? avgPremiumOverride : 1150,\n};\n\nfunction computeWeeklyCR(rows) {\n  if (!rows || rows.length === 0)\n    return { weeklyCR: null, dailyCRs: [], weekLeads: 0, weekSales: 0 };\n  const dailyCRs = rows.map((r) => {\n    const leads = r.ibLeads + r.obLeads;\n    const sales = r.ibSales + r.obSales + r.customSales;\n    return leads > 0 ? (sales / leads) * 100 : 0;\n  });\n  const totalLeads = rows.reduce((s, r) => s + r.ibLeads + r.obLeads, 0);\n  const totalSales = rows.reduce(\n    (s, r) => s + r.ibSales + r.obSales + r.customSales,\n    0\n  );\n  return {\n    weeklyCR: totalLeads > 0 ? (totalSales / totalLeads) * 100 : null,\n    dailyCRs,\n    weekLeads: totalLeads,\n    weekSales: totalSales,\n  };\n}\n\nfunction consLow(dailyCRs, threshold) {\n  let c = 0;\n  for (let i = dailyCRs.length - 1; i >= 0; i--) {\n    if (dailyCRs[i] < threshold) c++;\n    else break;\n  }\n  return c;\n}\n\nfunction recommend(\n  weeklyCR,\n  dailyCRs,\n  weekLeads,\n  weekSales,\n  pipe,\n  intra,\n  pool,\n  poolWeekSales,\n  pace\n) {\n  const pastDue = pipe?.past_due_follow_ups ?? 0;\n  const pipeSize =\n    (pipe?.new_leads ?? 0) + (pipe?.todays_follow_ups ?? 0) + pastDue;\n  const poolAssigns = pool?.self_assigned_leads ?? 0;\n  const poolAnswered = pool?.answered_calls ?? 0;\n  const assignRate =\n    poolAnswered > 0 ? (poolAssigns / poolAnswered) * 100 : 0;\n  const consLowDays = consLow(dailyCRs, CFG.CR_CRISIS);\n  const isMidDay = centralHour >= 12;\n  const weekSpend = weekLeads * CFG.LEAD_COST;\n\n  if (pastDue > 3)\n    return {\n      action: \"WORK_FOLLOWUPS\",\n      severity: \"critical\",\n      reason: `${pastDue} past due follow-ups. $${pastDue * CFG.LEAD_COST} in paid leads aging out. Clear these before anything else.`,\n    };\n\n  if (pipeSize > CFG.PIPELINE_CRITICAL)\n    return {\n      action: \"CLEAR_PIPELINE\",\n      severity: \"critical\",\n      reason: `Pipeline at ${pipeSize} leads (limit: ${CFG.PIPELINE_CRITICAL}). Leads are rotting. Close, withdraw, or reschedule — no new activity until pipeline is under control.`,\n    };\n\n  if (consLowDays >= CFG.CR_CRISIS_DAYS && weeklyCR !== null)\n    return {\n      action: \"REVIEW_QUALITY\",\n      severity: \"critical\",\n      reason: `CR below ${CFG.CR_CRISIS}% for ${consLowDays} straight days (week: ${weeklyCR.toFixed(0)}%). ${weekLeads} leads at $${CFG.LEAD_COST}/lead = $${weekSpend} spent, ${weekSales} closed. Manager: audit calls and coach close technique.`,\n    };\n\n  if (pastDue > 0)\n    return {\n      action: \"WORK_FOLLOWUPS\",\n      severity: \"warning\",\n      reason: `${pastDue} past due follow-up${pastDue > 1 ? \"s\" : \"\"}. These are paid leads — work them before taking pool or inbound.`,\n    };\n\n  if (pipeSize > CFG.MAX_PIPELINE)\n    return {\n      action: \"CLEAR_PIPELINE\",\n      severity: \"warning\",\n      reason: `Pipeline at ${pipeSize} leads (max: ${CFG.MAX_PIPELINE}). Close out or withdraw stale leads before adding more.`,\n    };\n\n  if (weeklyCR !== null && weeklyCR < CFG.CR_FLOOR)\n    return {\n      action: \"FOCUS_PIPELINE\",\n      severity: \"warning\",\n      reason: `CR at ${weeklyCR.toFixed(0)}% — floor is ${CFG.CR_FLOOR}%. ${weekLeads} leads, ${weekSales} sales, $${weekSpend} spent. Review call quality and close technique before taking more leads.`,\n    };\n\n  const rhDials = pace?.rollingHourDials;\n  const med = pace?.teamMedianRollingDials ?? 0;\n  const pipeClean = pastDue === 0 && pipeSize <= 20;\n  if (\n    pipeClean &&\n    typeof rhDials === \"number\" &&\n    centralHour >= 10 &&\n    centralHour <= 17 &&\n    med >= 10 &&\n    rhDials < med * 0.35\n  )\n    return {\n      action: \"PICK_UP_PACE\",\n      severity: \"warning\",\n      reason: `${rhDials} dials last hour vs team median ~${Math.round(med)}. Pipeline is clean — maintain steady calling cadence.`,\n    };\n\n  if (isMidDay && poolAssigns < 3)\n    return {\n      action: \"GET_IN_POOL\",\n      severity: \"warning\",\n      reason: `${poolAssigns} pool self-assigns (need ${CFG.POOL_DAILY_ASSIGNS}). Get in pool and find 5 people to follow up with tomorrow.`,\n    };\n\n  if (poolAnswered >= 10 && assignRate < CFG.POOL_MIN_ASSIGN_RATE)\n    return {\n      action: \"GET_IN_POOL\",\n      severity: \"warning\",\n      reason: `Pool assign rate ${assignRate.toFixed(0)}% (min: ${CFG.POOL_MIN_ASSIGN_RATE}%). Self-assign every answered contact to clean the pool.`,\n    };\n\n  if (weeklyCR !== null && weeklyCR >= CFG.CR_TARGET && pipeSize <= 20 && pastDue === 0)\n    return {\n      action: \"TAKE_MORE_LEADS\",\n      severity: \"info\",\n      reason: `CR at ${weeklyCR.toFixed(0)}% with clean pipeline (${pipeSize}). Ready for additional volume.`,\n    };\n\n  if (\n    weeklyCR !== null &&\n    weeklyCR >= CFG.CR_FLOOR &&\n    pipeSize >= 10 &&\n    pipeSize <= CFG.MAX_PIPELINE\n  )\n    return {\n      action: \"STAY_IN_QUEUE\",\n      severity: \"info\",\n      reason: `CR at ${weeklyCR.toFixed(0)}% · pipeline ${pipeSize}. Keep working inbound. ${\n        CFG.CR_TARGET - weeklyCR > 0\n          ? (CFG.CR_TARGET - weeklyCR).toFixed(0) + \"% to bonus-lead eligibility.\"\n          : \"At target.\"\n      }`,\n    };\n\n  if (\n    poolAssigns < CFG.POOL_DAILY_ASSIGNS &&\n    poolWeekSales < CFG.POOL_WEEKLY_SALES &&\n    pipeSize < 10\n  )\n    return {\n      action: \"GET_IN_POOL\",\n      severity: \"info\",\n      reason: `Pipeline light (${pipeSize}). Get in pool — find 5 contacts to follow up with tomorrow. ${poolAssigns}/${CFG.POOL_DAILY_ASSIGNS} assigns done.`,\n    };\n\n  const parts = [];\n  if (weeklyCR !== null) parts.push(`CR ${weeklyCR.toFixed(0)}%`);\n  parts.push(`Pipeline ${pipeSize}`);\n  if (poolAssigns > 0) parts.push(`Pool ${poolAssigns} assigns`);\n  if (poolWeekSales > 0) parts.push(`Pool ${poolWeekSales} sales this week`);\n  return {\n    action: \"ON_TRACK\",\n    severity: \"info\",\n    reason: parts.join(\" · \") + \" — on track.\",\n  };\n}\n\nconst scopeNames = [];\nfor (const [name, agent] of Object.entries(rosterMap)) {\n  if (inCoachingScope(agent)) scopeNames.push(name);\n}\n\nconst rollingForMedian = [];\nfor (const name of scopeNames) {\n  const intra = intradayMap[name];\n  const rd = intra?.rolling_hour_dials;\n  if (typeof rd === \"number\") rollingForMedian.push(rd);\n}\nrollingForMedian.sort((a, b) => a - b);\nconst teamMedianRollingDials = rollingForMedian.length\n  ? rollingForMedian[Math.floor(rollingForMedian.length / 2)]\n  : 0;\n\nconst results = [];\nfor (const name of scopeNames) {\n  const agent = rosterMap[name];\n  const weekRows = weeklyByAgent[name] || [];\n  const { weeklyCR, dailyCRs, weekLeads, weekSales } = computeWeeklyCR(weekRows);\n  const pipe = pipeMap[name];\n  const pool = poolMapData[name];\n  const intra = intradayMap[name];\n  const poolWeekSales = weeklyPoolSales[name] || 0;\n\n  const poolSelfAssigned = pool?.self_assigned_leads ?? 0;\n  const poolAnswered = pool?.answered_calls ?? 0;\n  const poolDials = pool?.calls_made ?? 0;\n  const poolLongCalls = pool?.long_calls ?? 0;\n  const totalDials = intra?.total_dials ?? 0;\n  const todaysLeads =\n    (intra?.ib_leads_delivered ?? 0) + (intra?.ob_leads_delivered ?? 0);\n  const todaysSales =\n    (intra?.ib_sales ?? 0) + (intra?.ob_sales ?? 0) + (intra?.custom_sales ?? 0);\n  const todaysCR =\n    todaysLeads > 0 ? (todaysSales / todaysLeads) * 100 : null;\n  const todaysPremium =\n    (intra?.ib_premium ?? 0) +\n    (intra?.ob_premium ?? 0) +\n    (intra?.custom_premium ?? 0);\n  const pastDue = pipe?.past_due_follow_ups ?? 0;\n  const pipeSize = pipe\n    ? (pipe.new_leads ?? 0) + (pipe.todays_follow_ups ?? 0) + pastDue\n    : null;\n\n  const rollingHourDials = intra?.rolling_hour_dials ?? null;\n  const rollingHourTalkMin = intra?.rolling_hour_talk_min ?? null;\n  const rollingHourPoolDials = intra?.rolling_hour_pool_dials ?? null;\n\n  const rec = recommend(\n    weeklyCR,\n    dailyCRs,\n    weekLeads,\n    weekSales,\n    pipe,\n    intra,\n    pool,\n    poolWeekSales,\n    {\n      rollingHourDials,\n      teamMedianRollingDials,\n      centralHour,\n    }\n  );\n\n  const todayLeadSpend = todaysLeads * lc;\n  const costPerSale = todaysSales > 0 ? Math.round(todayLeadSpend / todaysSales) : null;\n  const weekLeadSpend = weekLeads * lc;\n  const weekCostPerSale = weekSales > 0 ? Math.round(weekLeadSpend / weekSales) : null;\n\n  results.push({\n    name,\n    site: agent.site,\n    manager: agent.manager || null,\n    ...rec,\n    weeklyCR: weeklyCR !== null ? Math.round(weeklyCR * 10) / 10 : null,\n    weekLeads,\n    weekSales,\n    todaysCR: todaysCR !== null ? Math.round(todaysCR * 10) / 10 : null,\n    todaysLeads,\n    todaysSales,\n    todaysPremium: Math.round(todaysPremium),\n    todaysDials: totalDials,\n    todaysTalkMin: Math.round(intra?.talk_time_minutes ?? 0),\n    rollingHourDials,\n    rollingHourTalkMin,\n    rollingHourPoolDials,\n    rollingPriorHour: intra?.rolling_prior_hour ?? null,\n    pastDue,\n    pipelineSize: pipeSize,\n    poolDials,\n    poolSelfAssigned,\n    poolAnswered,\n    poolLongCalls,\n    poolWeekSales,\n    poolOnTrack: poolWeekSales >= CFG.POOL_WEEKLY_SALES,\n    teamMedianRollingDials,\n    todayLeadSpend,\n    costPerSale,\n    weekLeadSpend,\n    weekCostPerSale,\n  });\n}\n\nconst sev = { critical: 0, warning: 1, info: 2 };\nresults.sort((a, b) => sev[a.severity] - sev[b.severity]);\n\nfunction compareAlertUrgency(a, b) {\n  const pda = a.pastDue ?? 0;\n  const pdb = b.pastDue ?? 0;\n  if (pdb !== pda) return pdb - pda;\n  const pia = a.pipelineSize ?? 0;\n  const pib = b.pipelineSize ?? 0;\n  if (pib !== pia) return pib - pia;\n  const cra = a.weeklyCR ?? 999;\n  const crb = b.weeklyCR ?? 999;\n  return cra - crb;\n}\nconst critical = results\n  .filter((r) => r.severity === \"critical\")\n  .sort(compareAlertUrgency);\nconst warning = results\n  .filter((r) => r.severity === \"warning\")\n  .sort(compareAlertUrgency);\nconst onTrack = results\n  .filter((r) => r.severity === \"info\")\n  .sort((a, b) => {\n    const ca = a.weeklyCR ?? -1;\n    const cb = b.weeklyCR ?? -1;\n    if (cb !== ca) return cb - ca;\n    return a.name.localeCompare(b.name);\n  });\n\nreturn [\n  {\n    json: {\n      scrapeDate,\n      centralHour,\n      agentCount,\n      orgAgentCount:\n        typeof orgAgentCount === \"number\" ? orgAgentCount : agentCount,\n      daysThisWeek,\n      critical,\n      warning,\n      onTrack,\n      results,\n      cfg: CFG,\n      teamMedianRollingDials,\n    },\n  },\n];\n"
      },
      "id": "e25407a2-66b9-4802-9ff6-a20f8d9f24af",
      "name": "Run Recommender + Pace Engine",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        496,
        -160
      ]
    },
    {
      "parameters": {
        "jsCode": "const {\n  scrapeDate,\n  centralHour,\n  critical,\n  warning,\n  onTrack,\n  agentCount,\n  orgAgentCount,\n  daysThisWeek,\n  cfg,\n  teamMedianRollingDials,\n} = $input.first().json;\n\nconst orgN = typeof orgAgentCount === \"number\" ? orgAgentCount : agentCount;\nconst inScopeN = agentCount;\n\nconst [y, mo, d] = scrapeDate.split(\"-\");\nconst dt = new Date(+y, +mo - 1, +d);\nconst dn = [\"Sun\", \"Mon\", \"Tue\", \"Wed\", \"Thu\", \"Fri\", \"Sat\"][dt.getDay()];\nconst mn = [\n  \"Jan\",\n  \"Feb\",\n  \"Mar\",\n  \"Apr\",\n  \"May\",\n  \"Jun\",\n  \"Jul\",\n  \"Aug\",\n  \"Sep\",\n  \"Oct\",\n  \"Nov\",\n  \"Dec\",\n][dt.getMonth()];\nconst dd = `${dn} ${mn} ${+d}, ${y}`;\nconst ampm =\n  centralHour > 12\n    ? `${centralHour - 12}:05 PM`\n    : centralHour === 12\n      ? \"12:05 PM\"\n      : `${centralHour}:05 AM`;\n\n/** Plain labels — readable in a mixed audience channel. */\nconst ACTION_LABEL = {\n  TAKE_MORE_LEADS: \"Take more leads\",\n  WORK_FOLLOWUPS: \"Work follow-ups\",\n  GET_IN_POOL: \"Get in pool\",\n  CLEAR_PIPELINE: \"Clear pipeline\",\n  REVIEW_QUALITY: \"Review call quality\",\n  FOCUS_PIPELINE: \"Focus pipeline\",\n  STAY_IN_QUEUE: \"Stay in queue\",\n  PICK_UP_PACE: \"Pick up pace\",\n  ON_TRACK: \"On track\",\n};\n\nconst fmt = (n) => \"$\" + Math.round(n).toLocaleString();\n\nconst blocks = [];\n\nblocks.push({\n  type: \"header\",\n    text: {\n    type: \"plain_text\",\n    text: `ROLI — Hourly coaching — ${dd}`,\n  },\n});\n\nblocks.push({\n  type: \"section\",\n  text: {\n    type: \"mrkdwn\",\n    text: [\n      `*When:* ${ampm} Central`,\n      `*Scope:* ${inScopeN} active agents (operations excluded). Org roster: ${orgN}.`,\n      `*Week progress:* weekday ${daysThisWeek} of 5 (Mon–Fri).`,\n      `*Team pace (last CRM interval):* ${\n        teamMedianRollingDials != null ? `${teamMedianRollingDials} dials (median)` : \"not enough snapshots yet\"\n      }`,\n      `*This run:* ${critical.length} critical · ${warning.length} warning · ${onTrack.length} on track`,\n    ].join(\"\\n\"),\n  },\n});\n\nblocks.push({ type: \"divider\" });\n\nfunction formatAgent(a, stackIdx) {\n  const action = ACTION_LABEL[a.action] || String(a.action || \"\").replace(/_/g, \" \");\n  const rank = typeof stackIdx === \"number\" ? `#${stackIdx} ` : \"\";\n  const lines = [\n    `*${rank}${a.name}*`,\n    `*Focus:* ${action}`,\n    `Today (cumulative): ${a.todaysDials} dials · ${a.todaysTalkMin} min talk`,\n  ];\n  if (typeof a.rollingHourDials === \"number\") {\n    lines.push(\n      `Since prior snapshot: +${a.rollingHourDials} dials · +${Math.round(a.rollingHourTalkMin || 0)} min talk`\n    );\n  }\n  if (a.todaysCR !== null) {\n    lines.push(`Inbound today: ${a.todaysSales}/${a.todaysLeads} leads → ${a.todaysCR}% CR`);\n  } else if (a.todaysLeads > 0) {\n    lines.push(`Inbound today: ${a.todaysSales}/${a.todaysLeads} leads`);\n  } else {\n    lines.push(`Inbound today: no intraday row yet`);\n  }\n  if (a.weeklyCR !== null) {\n    lines.push(`Week to date: ${a.weeklyCR}% CR (${a.weekSales} sales / ${a.weekLeads} leads)`);\n  } else {\n    lines.push(`Week to date: not enough closed days yet`);\n  }\n  if (a.pipelineSize !== null) {\n    lines.push(\n      `Pipeline: ${a.pipelineSize} leads` + (a.pastDue ? ` (${a.pastDue} past due)` : \"\")\n    );\n  }\n  if (a.poolDials > 0) {\n    lines.push(\n      `Pool today: ${a.poolDials} dials · ${a.poolSelfAssigned} self-assigns · ${a.poolAnswered} answered`\n    );\n  }\n  lines.push(`Pool week: ${a.poolWeekSales}/${cfg.POOL_WEEKLY_SALES} sales (weekly target)`);\n  if (a.todaysPremium > 0) lines.push(`Premium today: ${fmt(a.todaysPremium)}`);\n  if (a.costPerSale != null) {\n    lines.push(`Cost/sale: ${fmt(a.costPerSale)} today` + (a.weekCostPerSale != null ? ` · ${fmt(a.weekCostPerSale)} week` : \"\"));\n  } else if (a.todaysLeads > 0 && a.todayLeadSpend > 0) {\n    lines.push(`Lead spend: ${fmt(a.todayLeadSpend)} today (0 sales)`);\n  }\n  lines.push(`${a.reason}`);\n  return lines.join(\"\\n\");\n}\n\nif (critical.length > 0) {\n  blocks.push({\n    type: \"section\",\n    text: { type: \"mrkdwn\", text: `*Critical — ${critical.length}*` },\n  });\n  for (let ri = 0; ri < critical.length && ri < 15; ri++) {\n    blocks.push({\n      type: \"section\",\n      text: { type: \"mrkdwn\", text: formatAgent(critical[ri], ri + 1) },\n    });\n  }\n  if (critical.length > 15) {\n    blocks.push({\n      type: \"context\",\n      elements: [\n        { type: \"mrkdwn\", text: `…and ${critical.length - 15} more (see ROLI for full list).` },\n      ],\n    });\n  }\n  blocks.push({ type: \"divider\" });\n}\n\nif (warning.length > 0) {\n  blocks.push({\n    type: \"section\",\n    text: { type: \"mrkdwn\", text: `*Needs attention — ${warning.length}*` },\n  });\n  for (let ri = 0; ri < warning.length && ri < 15; ri++) {\n    blocks.push({\n      type: \"section\",\n      text: { type: \"mrkdwn\", text: formatAgent(warning[ri], ri + 1) },\n    });\n  }\n  if (warning.length > 15) {\n    blocks.push({\n      type: \"context\",\n      elements: [\n        { type: \"mrkdwn\", text: `…and ${warning.length - 15} more (see ROLI for full list).` },\n      ],\n    });\n  }\n  blocks.push({ type: \"divider\" });\n}\n\nconst MAX_ON_TRACK_NAMES = 18;\nif (onTrack.length > 0) {\n  const names = onTrack.map((a) => a.name);\n  const shown = names.slice(0, MAX_ON_TRACK_NAMES).join(\", \");\n  const extra =\n    names.length > MAX_ON_TRACK_NAMES\n      ? `\\n_${names.length - MAX_ON_TRACK_NAMES} others on track — open ROLI for names._`\n      : \"\";\n  blocks.push({\n    type: \"section\",\n    text: {\n      type: \"mrkdwn\",\n      text: `*On track — ${onTrack.length}*\\n${shown}${extra}`,\n    },\n  });\n  blocks.push({ type: \"divider\" });\n}\n\nconst allAgents = [...critical, ...warning, ...onTrack];\nconst totalPoolSales = allAgents.reduce((s, a) => s + a.poolWeekSales, 0);\nconst totalPoolAssigns = allAgents.reduce((s, a) => s + a.poolSelfAssigned, 0);\nconst totalPoolDials = allAgents.reduce((s, a) => s + a.poolDials, 0);\nconst agentsInPool = allAgents.filter((a) => a.poolDials > 0).length;\nconst agentsPoolGoalMet = allAgents.filter((a) => a.poolOnTrack).length;\n\nblocks.push({\n  type: \"section\",\n  text: {\n    type: \"mrkdwn\",\n    text: [\n      `*Pool snapshot (this digest)*`,\n      `${agentsInPool} agents dialed pool today · ${totalPoolDials} pool dials · ${totalPoolAssigns} self-assigns`,\n      `${totalPoolSales} pool sales this week · ${agentsPoolGoalMet}/${inScopeN} at weekly pool-sales target (${cfg.POOL_WEEKLY_SALES}/wk)`,\n    ].join(\"\\n\"),\n  },\n});\n\nblocks.push({\n  type: \"context\",\n  elements: [\n    {\n      type: \"mrkdwn\",\n      text: `Targets: CR ${cfg.CR_TARGET}%+ · pipeline ≤${cfg.MAX_PIPELINE} · pool ${cfg.POOL_DAILY_ASSIGNS} assigns/day & ${cfg.POOL_WEEKLY_SALES} sale/wk · past due 0 · CPC $${cfg.LEAD_COST} · org avg premium $${cfg.AVG_PREMIUM_ORG}`,\n    },\n  ],\n});\n\nconst fallback = `ROLI hourly — ${dd} ${ampm}: ${critical.length} critical, ${warning.length} warning, ${onTrack.length} on track`;\n\nreturn [{ json: { text: fallback, blocks } }];\n"
      },
      "id": "4c32dec7-a249-494e-b087-6d2bb3db608d",
      "name": "Build Unified Slack Alert",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        976,
        -256
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "YOUR_SLACK_INBOUND_WEBHOOK_URL",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify($json) }}",
        "options": {
          "timeout": 10000
        }
      },
      "id": "0d0e4299-d6ea-4644-8c1d-eb9544cce054",
      "name": "Send to Slack",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1216,
        -256
      ]
    },
    {
      "parameters": {
        "jsCode": "return [{ json: {\n  text: ':x: *Hourly Action Alert failed*\\n' + ($input.first().json.error || $input.first().json.message || 'Unknown error — check n8n execution log.')\n} }];"
      },
      "id": "ea4e4322-1b92-4afc-bf3b-a8e98bedd5e0",
      "name": "Build Error Alert",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        736,
        96
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "YOUR_SLACK_INBOUND_WEBHOOK_URL",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify($json) }}",
        "options": {
          "timeout": 10000
        }
      },
      "id": "416b5e02-fbc3-4598-8df8-1082fc93b358",
      "name": "Alert Slack Error",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        976,
        96
      ]
    }
  ],
  "connections": {
    "Schedule :05 past hour CST": {
      "main": [
        [
          {
            "node": "Fetch All Data Sources",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Manual Trigger": {
      "main": [
        [
          {
            "node": "Fetch All Data Sources",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fetch All Data Sources": {
      "main": [
        [
          {
            "node": "Run Recommender + Pace Engine",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Run Recommender + Pace Engine": {
      "main": [
        [
          {
            "node": "Build Unified Slack Alert",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build Unified Slack Alert": {
      "main": [
        [
          {
            "node": "Send to Slack",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build Error Alert": {
      "main": [
        [
          {
            "node": "Alert Slack Error",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "pinData": {},
  "meta": {
    "instanceId": "89ecaea7644e2fc8bb00924fa95bf8f2f321b4752bc18483de9de5a764fee65c"
  }
}