n8n/t3-weekly-grind.json
{
  "name": "T3 Weekly Grind Contest",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "cronExpression",
              "expression": "0 8 * * 1"
            },
            {
              "field": "cronExpression",
              "expression": "30 10,12,14,16 * * 1-5"
            },
            {
              "field": "cronExpression",
              "expression": "30 17 * * 1-5"
            }
          ]
        }
      },
      "id": "wg-schedule",
      "name": "Schedule Trigger",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        -400,
        0
      ]
    },
    {
      "parameters": {},
      "id": "wg-manual",
      "name": "Manual Trigger",
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        -400,
        200
      ]
    },
    {
      "parameters": {
        "jsCode": "// ══════════════════════════════════════════════════════════════════\n// T3 WEEKLY GRIND — Contest Standings Engine (v2)\n// Includes Leads Pool dials & talk time, with/without-sales rankings,\n// and daily point verification breakdown for agent transparency.\n// ══════════════════════════════════════════════════════════════════\n\nconst SUPABASE_URL = 'https://bcibmmbxrjfiulofserv.supabase.co/rest/v1';\nconst SUPABASE_KEY = 'eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImJjaWJtbWJ4cmpmaXVsb2ZzZXJ2Iiwicm9sZSI6ImFub24iLCJpYXQiOjE3NzQxMTMzNzAsImV4cCI6MjA4OTY4OTM3MH0.IIuxX_m34M4QOPORUr7v04AO3aLgdQnvMhD8rOjVnhQ';\nconst SHEET_ID = '1Z3DuoOrmpapM7bAOBjGK93vGdBOZxCI8sHHJEq0ICqI';\nconst PAD_ROWS = 200;\nconst COLS = 13;\nconst hdr = { apikey: SUPABASE_KEY };\nconst PRIZES = ['$300', '$250', '$200', '$150', '$100'];\n\nconst p2 = n => String(n).padStart(2, '0');\nconst fmtDate = d => d.getFullYear() + '-' + p2(d.getMonth()+1) + '-' + p2(d.getDate());\nconst fmtShort = d => p2(d.getMonth()+1) + '/' + p2(d.getDate());\nconst fmtCurrency = n => '$' + Number(n || 0).toLocaleString('en-US', { minimumFractionDigits: 0, maximumFractionDigits: 0 });\nconst ordinal = n => n === 1 ? '1st' : n === 2 ? '2nd' : n === 3 ? '3rd' : n + 'th';\nconst getDayName = dateStr => {\n  const d = new Date(dateStr + 'T12:00:00');\n  return ['Sun', 'Mon', 'Tue', 'Wed', 'Thu', 'Fri', 'Sat'][d.getDay()];\n};\n\n// ── Time Context (Central Time) ──\nconst now = new Date();\nconst ctStr = now.toLocaleString('en-US', { timeZone: 'America/Chicago' });\nconst ct = new Date(ctStr);\nlet dow = ct.getDay();\nconst hour = ct.getHours();\nconst min = ct.getMinutes();\n\nconst today = new Date(ct);\nif (dow === 0) today.setDate(today.getDate() - 2);\nif (dow === 6) today.setDate(today.getDate() - 1);\ndow = today.getDay();\nconst todayStr = fmtDate(today);\n\nconst monday = new Date(today);\nmonday.setDate(today.getDate() - (dow - 1));\nconst mondayStr = fmtDate(monday);\nconst friday = new Date(monday);\nfriday.setDate(monday.getDate() + 4);\nconst fridayStr = fmtDate(friday);\n\nconst dayNames = ['', 'Mon', 'Tue', 'Wed', 'Thu', 'Fri'];\nconst todayLabel = dayNames[dow] || '';\nconst isFinal = (hour === 17 && min >= 30) || hour > 17;\nconst runType = isFinal ? 'FINAL' : 'LIVE';\nconst h12 = hour > 12 ? hour - 12 : (hour === 0 ? 12 : hour);\nconst ampm = hour >= 12 ? 'PM' : 'AM';\nconst timeLabel = h12 + ':' + p2(min) + ' ' + ampm;\n\n// ── Fetch from Supabase (read-only) ──\nconst roster = await this.helpers.httpRequest({\n  method: 'GET',\n  url: SUPABASE_URL + '/agents?tier=eq.T3&is_active=eq.true&select=name,site',\n  headers: hdr, json: true\n});\n\nconst weekData = await this.helpers.httpRequest({\n  method: 'GET',\n  url: SUPABASE_URL + '/daily_scrape_data?tier=eq.T3&scrape_date=gte.' + mondayStr + '&scrape_date=lte.' + fridayStr + '&select=agent_name,scrape_date,total_dials,talk_time_minutes,ib_sales,ob_sales,custom_sales,ib_premium,ob_premium,custom_premium',\n  headers: hdr, json: true\n});\n\nconst poolData = await this.helpers.httpRequest({\n  method: 'GET',\n  url: SUPABASE_URL + '/leads_pool_daily_data?scrape_date=gte.' + mondayStr + '&scrape_date=lte.' + fridayStr + '&select=agent_name,scrape_date,calls_made,talk_time_minutes',\n  headers: hdr, json: true\n});\n\nconst siteMap = {};\nconst rosterNames = new Set();\nfor (const a of roster) { siteMap[a.name] = a.site; rosterNames.add(a.name); }\n\n// ── Build records from CRM data ──\nconst records = {};\nfor (const r of weekData) {\n  const key = r.scrape_date + '|' + r.agent_name;\n  records[key] = {\n    name: r.agent_name, date: r.scrape_date,\n    site: siteMap[r.agent_name] || 'CHA',\n    crmDials: r.total_dials || 0,\n    crmTalk: parseFloat(r.talk_time_minutes) || 0,\n    poolDials: 0, poolTalk: 0,\n    dials: r.total_dials || 0,\n    talkTime: parseFloat(r.talk_time_minutes) || 0,\n    sales: (r.ib_sales||0) + (r.ob_sales||0) + (r.custom_sales||0),\n    premium: (parseFloat(r.ib_premium)||0) + (parseFloat(r.ob_premium)||0) + (parseFloat(r.custom_premium)||0)\n  };\n}\n\n// ── Merge pool data (only T3 roster agents get credit) ──\nfor (const p of poolData) {\n  if (!rosterNames.has(p.agent_name)) continue;\n  const key = p.scrape_date + '|' + p.agent_name;\n  const pd = p.calls_made || 0;\n  const pt = parseFloat(p.talk_time_minutes) || 0;\n  if (records[key]) {\n    records[key].poolDials = pd;\n    records[key].poolTalk = pt;\n    records[key].dials += pd;\n    records[key].talkTime += pt;\n  } else {\n    records[key] = {\n      name: p.agent_name, date: p.scrape_date,\n      site: siteMap[p.agent_name] || 'CHA',\n      crmDials: 0, crmTalk: 0,\n      poolDials: pd, poolTalk: pt,\n      dials: pd, talkTime: pt,\n      sales: 0, premium: 0\n    };\n  }\n}\n\nconst dates = [...new Set(Object.values(records).map(r => r.date))].sort();\nconst sites = ['AUS', 'CHA'];\n\n// ── Ranking Engine ──\nfunction rankAndScore(agentList, metric) {\n  const sorted = [...agentList].sort((a, b) => b[metric] - a[metric]);\n  const pts = {};\n  const scale = [5, 4, 3, 2, 1];\n  let pos = 0, i = 0;\n  while (i < sorted.length) {\n    const val = sorted[i][metric];\n    let j = i;\n    while (j < sorted.length && sorted[j][metric] === val) j++;\n    const p = (val > 0 && pos < 5) ? scale[pos] : 0;\n    for (let k = i; k < j; k++) pts[sorted[k].name] = p;\n    pos += (j - i);\n    i = j;\n  }\n  return pts;\n}\n\n// ── Accumulate Points + Daily Details ──\nconst wkD = {}, wkT = {}, wkS = {}, tdP = {}, tdD = {};\nfor (const a of roster) {\n  wkD[a.name] = 0; wkT[a.name] = 0; wkS[a.name] = 0;\n  tdP[a.name] = { d: 0, t: 0, s: 0 };\n  tdD[a.name] = { dials: 0, talk: 0, sales: 0, premium: 0, crmDials: 0, poolDials: 0, crmTalk: 0, poolTalk: 0 };\n}\n\nconst dayLog = {};\nfor (const date of dates) {\n  dayLog[date] = {};\n  for (const site of sites) {\n    const agents = Object.values(records).filter(r => r.date === date && r.site === site);\n    if (!agents.length) { dayLog[date][site] = []; continue; }\n\n    const dp = rankAndScore(agents, 'dials');\n    const tp = rankAndScore(agents, 'talkTime');\n    const sp = rankAndScore(agents, 'sales');\n\n    dayLog[date][site] = agents.map(a => ({\n      name: a.name,\n      crmDials: a.crmDials, poolDials: a.poolDials, dials: a.dials,\n      crmTalk: Math.round(a.crmTalk), poolTalk: Math.round(a.poolTalk), talkTime: Math.round(a.talkTime),\n      sales: a.sales, premium: a.premium,\n      dialsPts: dp[a.name] || 0, talkPts: tp[a.name] || 0, salesPts: sp[a.name] || 0,\n      dayTotal: (dp[a.name]||0) + (tp[a.name]||0) + (sp[a.name]||0),\n      dayTotalNoSales: (dp[a.name]||0) + (tp[a.name]||0)\n    })).sort((a, b) => b.dayTotal - a.dayTotal || b.dials - a.dials || a.name.localeCompare(b.name));\n\n    for (const a of agents) {\n      const d = dp[a.name]||0, t = tp[a.name]||0, s = sp[a.name]||0;\n      wkD[a.name] = (wkD[a.name]||0) + d;\n      wkT[a.name] = (wkT[a.name]||0) + t;\n      wkS[a.name] = (wkS[a.name]||0) + s;\n      if (date === todayStr) {\n        tdP[a.name] = { d, t, s };\n        tdD[a.name] = { dials: a.dials, talk: a.talkTime, sales: a.sales, premium: a.premium, crmDials: a.crmDials, poolDials: a.poolDials, crmTalk: a.crmTalk, poolTalk: a.poolTalk };\n      }\n    }\n  }\n}\n\n// ── Build ranked list for a site ──\nfunction getSiteRanked(site) {\n  return roster\n    .filter(a => a.site === site)\n    .map(a => {\n      const tp = tdP[a.name] || { d: 0, t: 0, s: 0 };\n      const td = tdD[a.name] || { dials: 0, talk: 0, sales: 0, premium: 0, crmDials: 0, poolDials: 0, crmTalk: 0, poolTalk: 0 };\n      const dayTotal = tp.d + tp.t + tp.s;\n      const weekly = (wkD[a.name]||0) + (wkT[a.name]||0) + (wkS[a.name]||0);\n      const weeklyNoSales = (wkD[a.name]||0) + (wkT[a.name]||0);\n      return { name: a.name, weekly, weeklyNoSales, dayTotal, wkD: wkD[a.name]||0, wkT: wkT[a.name]||0, wkS: wkS[a.name]||0, tp, td };\n    })\n    .sort((a, b) => b.weekly - a.weekly || b.dayTotal - a.dayTotal || a.name.localeCompare(b.name));\n}\n\n// ══════════════════════════════════════\n// GOOGLE SHEET\n// ══════════════════════════════════════\nconst emptyRow = new Array(COLS).fill('');\nconst rows = [];\n\nconst sheetTitle = 'T3 WEEKLY GRIND \\u2014 Mon ' + fmtShort(monday) + ' thru Fri ' + fmtShort(friday);\nconst sheetSub = 'Updated ' + todayLabel + ' ' + timeLabel + ' CT \\u00B7 ' + runType + ' \\u00B7 Includes Leads Pool dials & talk time';\nrows.push([sheetTitle, '', '', '', '', '', '', '', '', '', '', '', '']);\nrows.push([sheetSub, '', '', '', '', '', '', '', '', '', '', '', '']);\nrows.push(emptyRow);\n\nfor (const site of sites) {\n  const siteLabel = site === 'AUS' ? 'AUSTIN (AUS)' : 'CHARLOTTE (CHA)';\n  rows.push([siteLabel, '', '', '', '', '', '', '', '1st $300 / 2nd $250 / 3rd $200 / 4th $150 / 5th $100', '', '', '', '']);\n  rows.push(['#', 'Prize', 'Agent', 'Dials Pts', 'Talk Pts', 'Sales Pts', 'WEEKLY PTS', 'PTS (no Sales)', 'Today Dials', 'Today Talk', 'Today Sales', 'Today Premium', 'Today Pts']);\n\n  getSiteRanked(site).forEach((a, i) => {\n    rows.push([\n      ordinal(i + 1),\n      i < 5 ? PRIZES[i] : '--',\n      a.name,\n      a.wkD || '--',\n      a.wkT || '--',\n      a.wkS || '--',\n      a.weekly || '--',\n      a.weeklyNoSales || '--',\n      a.td.dials,\n      Math.round(a.td.talk) + ' min',\n      a.td.sales,\n      fmtCurrency(a.td.premium),\n      a.dayTotal || '--'\n    ]);\n  });\n  rows.push(emptyRow);\n}\n\n// ── Daily Point Verification Section ──\nrows.push(emptyRow);\nrows.push(['\\u2550\\u2550\\u2550 DAILY POINT VERIFICATION \\u2550\\u2550\\u2550', '', '', '', '', '', '', '', '', '', '', '', '']);\nrows.push(['Agents earn 5/4/3/2/1 pts for 1st\\u20135th place per metric per day per site. Zero activity = 0 pts. Pool dials & talk are merged into totals.', '', '', '', '', '', '', '', '', '', '', '', '']);\nrows.push(emptyRow);\n\nfor (const date of dates) {\n  const d = new Date(date + 'T12:00:00');\n  const dateHeader = getDayName(date).toUpperCase() + ' ' + fmtShort(d);\n\n  for (const site of sites) {\n    const siteCode = site === 'AUS' ? 'AUS' : 'CHA';\n    const entries = (dayLog[date] && dayLog[date][site]) || [];\n    if (!entries.length) continue;\n\n    rows.push([dateHeader + ' \\u2014 ' + siteCode, '', '', '', '', '', '', '', '', '', '', '', '']);\n    rows.push(['Agent', 'CRM Dials', 'Pool Dials', 'Total Dials', 'CRM Talk', 'Pool Talk', 'Total Talk', 'Sales', 'Dials Pts', 'Talk Pts', 'Sales Pts', 'Day Pts', 'Pts (no Sales)']);\n\n    for (const e of entries) {\n      rows.push([\n        e.name,\n        e.crmDials,\n        e.poolDials || '',\n        e.dials,\n        e.crmTalk + ' min',\n        e.poolTalk ? e.poolTalk + ' min' : '',\n        e.talkTime + ' min',\n        e.sales,\n        e.dialsPts || '--',\n        e.talkPts || '--',\n        e.salesPts || '--',\n        e.dayTotal || '--',\n        e.dayTotalNoSales || '--'\n      ]);\n    }\n    rows.push(emptyRow);\n  }\n}\n\nwhile (rows.length < PAD_ROWS) rows.push(emptyRow);\n\n// ══════════════════════════════════════\n// SLACK (Block Kit)\n// ══════════════════════════════════════\nconst medals = [':first_place_medal:', ':second_place_medal:', ':third_place_medal:', ':four:', ':five:'];\nconst blocks = [];\n\nblocks.push({ type: 'header', text: { type: 'plain_text', text: ':fire:  T3 WEEKLY GRIND  :fire:', emoji: true } });\n\nblocks.push({ type: 'context', elements: [\n  { type: 'mrkdwn', text: 'Mon ' + fmtShort(monday) + ' \\u2013 Fri ' + fmtShort(friday) + '  |  ' + todayLabel + ' ' + timeLabel + ' CT  |  *' + runType + '*  |  _Pool dials & talk included_' }\n] });\n\nblocks.push({ type: 'divider' });\n\nfor (const site of sites) {\n  const siteCode = site === 'AUS' ? 'ATX' : 'CLT';\n  const siteFull = site === 'AUS' ? 'AUSTIN' : 'CHARLOTTE';\n  const ranked = getSiteRanked(site).slice(0, 5);\n\n  blocks.push({ type: 'section', text: { type: 'mrkdwn', text: ':trophy:  *' + siteFull + ' (' + siteCode + ')*' } });\n\n  const lines = [];\n  ranked.forEach((a, i) => {\n    lines.push(medals[i] + '  *' + a.name + '*  \\u2014  *' + a.weekly + ' pts*  (' + a.weeklyNoSales + ' w/o sales)  (' + PRIZES[i] + ')');\n    const poolNote = a.td.poolDials ? '  \\u00B7  +' + a.td.poolDials + ' pool dials' : '';\n    lines.push('      ' + a.td.dials + ' dials  \\u00B7  ' + Math.round(a.td.talk) + ' min  \\u00B7  ' + a.td.sales + ' sales  \\u00B7  ' + fmtCurrency(a.td.premium) + poolNote);\n    lines.push('');\n  });\n\n  blocks.push({ type: 'section', text: { type: 'mrkdwn', text: lines.join('\\n') } });\n\n  if (site === 'AUS') blocks.push({ type: 'divider' });\n}\n\nblocks.push({ type: 'context', elements: [\n  { type: 'mrkdwn', text: '_Scoring: 1st=5  2nd=4  3rd=3  4th=2  5th=1  \\u00B7  Dials + Talk Time + Sales  \\u00B7  Max ' + (dow * 15) + ' pts (' + dow + ' days)  \\u00B7  Pool dials & talk count toward totals_' }\n] });\n\nconst fallbackText = ':fire: T3 Weekly Grind \\u2014 ' + todayLabel + ' ' + timeLabel + ' CT (' + runType + ')';\n\nreturn [{ json: {\n  writeBody: JSON.stringify({ values: rows }),\n  slackBody: JSON.stringify({ text: fallbackText, blocks }),\n  title: sheetTitle,\n  runType\n} }];\n"
      },
      "id": "wg-calculate",
      "name": "Calculate Rankings",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        0,
        100
      ]
    },
    {
      "parameters": {
        "method": "PUT",
        "url": "https://sheets.googleapis.com/v4/spreadsheets/1Z3DuoOrmpapM7bAOBjGK93vGdBOZxCI8sHHJEq0ICqI/values/DailyPoints!A1?valueInputOption=USER_ENTERED",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "googleSheetsOAuth2Api",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ $json.writeBody }}",
        "options": {
          "timeout": 15000
        }
      },
      "id": "wg-write-sheet",
      "name": "Write to Sheet",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        300,
        100
      ],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "GOOGLE_SHEETS_CREDENTIAL_ID",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "SLACK_WEBHOOK_PLACEHOLDER",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ $node[\"Calculate Rankings\"].json.slackBody }}",
        "options": {
          "timeout": 10000
        }
      },
      "id": "wg-slack",
      "name": "Send to Slack",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        550,
        100
      ]
    }
  ],
  "connections": {
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "Calculate Rankings",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Manual Trigger": {
      "main": [
        [
          {
            "node": "Calculate Rankings",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Calculate Rankings": {
      "main": [
        [
          {
            "node": "Write to Sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Write to Sheet": {
      "main": [
        [
          {
            "node": "Send to Slack",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "timezone": "America/Chicago",
    "callerPolicy": "workflowsFromSameOwner"
  },
  "pinData": {},
  "meta": {
    "templateCredsSetupCompleted": false
  }
}